<div class="mdl-instructions{{#if inverted}} mdl-instructions--inverted{{/if}}{{#if
  colorVariation}} mdl-instructions--cv-{{{colorVariation}}}{{/if}}" data-init="instructions">
  <h2 class="atm-heading atm-heading--bordered">{{instructions_title}}</h2>

  <{{#if isUnordered}}ul{{else}}ol{{/if}} class="mdl-instructions__list {{#unless isUnordered}} mdl-instructions__list--ordered{{/unless}}">

    <li class="mdl-instructions__item">
      <div aria-hidden="true" class="mdl-instructions__bullet{{#if isUnordered}} mdl-instructions__bullet--checklist{{/if}}">
        {{#if isUnordered}}
          <svg class="icon">
            <use xlink:href="#vote"></use>
          </svg>
        {{else}}
          01
        {{/if}}
      </div>
      <div>
        <h3 class="mdl-instructions__item-title atm-heading">
          {{#if isUnordered}}Checklistenpunkt{{else}}Anleitungsschritt{{/if}}-Titel (mit Linklisten Module)
        </h3>
        <div class="mdl-instructions__item-content">
          {{> "modules/linklist/linklist"}}
        </div>
      </div>
    </li>

    <li class="mdl-instructions__item">
      <div aria-hidden="true" class="mdl-instructions__bullet{{#if isUnordered}} mdl-instructions__bullet--checklist{{/if}}">
        {{#if isUnordered}}
          <svg class="icon">
            <use xlink:href="#vote"></use>
          </svg>
        {{else}}
          02
        {{/if}}
      </div>
      <div>
        <h3 class="mdl-instructions__item-title atm-heading">
          {{#if isUnordered}}Checklistenpunkt{{else}}Anleitungsschritt{{/if}}-Titel (mit Video Module)
        </h3>
        <div class="mdl-instructions__item-content">
          {{> "modules/video/video"}}
        </div>
      </div>
    </li>

    <li class="mdl-instructions__item">
      <div aria-hidden="true" class="mdl-instructions__bullet{{#if isUnordered}} mdl-instructions__bullet--checklist{{/if}}">
        {{#if isUnordered}}
          <svg class="icon">
            <use xlink:href="#vote"></use>
          </svg>
        {{else}}
          03
        {{/if}}
      </div>
      <div>
        <h3 class="mdl-instructions__item-title atm-heading">
          {{#if isUnordered}}Checklistenpunkt{{else}}Anleitungsschritt{{/if}}-Titel (mit Bilder Module)
        </h3>
        <div class="mdl-instructions__item-content">
          {{> "modules/image_figure/image_figure"}}
        </div>
      </div>
    </li>

    <li class="mdl-instructions__item">
      <div aria-hidden="true" class="mdl-instructions__bullet{{#if isUnordered}} mdl-instructions__bullet--checklist{{/if}}">
        {{#if isUnordered}}
          <svg class="icon">
            <use xlink:href="#vote"></use>
          </svg>
        {{else}}
          04
        {{/if}}
      </div>
      <div>
        <h3 class="mdl-instructions__item-title atm-heading">
          {{#if isUnordered}}Checklistenpunkt{{else}}Anleitungsschritt{{/if}}-Titel (mit Bildgallerie/Carousel Module)
        </h3>
        <div class="mdl-instructions__item-content">
          {{> "modules/carousel/carousel"}}
        </div>
      </div>
    </li>

    <li class="mdl-instructions__item">
      <div aria-hidden="true" class="mdl-instructions__bullet{{#if isUnordered}} mdl-instructions__bullet--checklist{{/if}}">
        {{#if isUnordered}}
          <svg class="icon">
            <use xlink:href="#vote"></use>
          </svg>
        {{else}}
          05
        {{/if}}
      </div>
      <div>
        <h3 class="mdl-instructions__item-title atm-heading">
          {{#if isUnordered}}Checklistenpunkt{{else}}Anleitungsschritt{{/if}}-Titel (mit Infobox Module)
        </h3>
        <div class="mdl-instructions__item-content">
          {{> "modules/texthighlight/texthighlight"}}
        </div>
      </div>
    </li>

    <li class="mdl-instructions__item">
      <div aria-hidden="true" class="mdl-instructions__bullet{{#if isUnordered}} mdl-instructions__bullet--checklist{{/if}}">
        {{#if isUnordered}}
          <svg class="icon">
            <use xlink:href="#vote"></use>
          </svg>
        {{else}}
          06
        {{/if}}
      </div>
      <div>
        <h3 class="mdl-instructions__item-title atm-heading">
          {{#if isUnordered}}Checklistenpunkt{{else}}Anleitungsschritt{{/if}}-Titel (mit Richtext Module)
        </h3>
        <div class="mdl-instructions__item-content">
          {{> "modules/richtext/richtext"}}
        </div>
      </div>
    </li>


  </{{#if isUnordered}}ul{{else}}ol{{/if}}>

</div>
