{{#with messages}}
  <div class="mdl-biometrie_appointment__details">

    <div class="mdl-biometrie_appointment__details__confirmation {{#if withConfirmation}}show{{/if}}" data-biometrie_appointment="reschedule-success">
      <div class="alert alert-success {{#if withConfirmation}}show{{/if}}">
          <span class="success-icon">
              <svg class="icon">
                  <use xlink:href="#check"></use>
              </svg>
          </span>
          <div class="details">
            <span class="atm-heading">{{ rescheduleSuccessHead }}</span><br>
            <span data-biometrie_appointment="reservation-details__appointmentDateString">
                {{#if withMockData}}Montag 05.08.2019{{/if}}
            </span>&nbsp;<span data-biometrie_appointment="reservation-details__fromTimeString">
            {{#if withMockData}}10:45{{/if}}</span>&nbsp;&ndash;&nbsp;<span data-biometrie_appointment="reservation-details__untilTimeString">{{#if withMockData}}11:00{{/if}}</span>
          </div>
          <span class="alert__close" data-biometrie_appointment="alertClose">
              <svg class="icon">
                  <use xlink:href="#exit"></use>
              </svg>
          </span>
      </div>

      <div class="mdl-texthighlight">
        <div class="mdl-richtext">
          <span class="atm-heading">{{ confirmationHead }}</span>
          <p class="atm-paragraph">{{{ confirmationIntroParagraph }}}</p>
          {{> "atoms/button/button" printConfirmationBtn}}
        </div>
      </div>
    </div>


    <div class="grid-x grid-margin-x mdl-biometrie_appointment__details__persondata">
        <div class="cell tiny-6">
            <div class="label">{{ labelLastName }}</div>
            <div class="atm-paragraph data" data-biometrie_appointment="reservation-details__lastName">{{#if withMockData}}Russo{{/if}}</div>
        </div>
        <div class="cell tiny-6">
            <div class="label">{{ labelFirstName }}</div>
            <div class="atm-paragraph data" data-biometrie_appointment="reservation-details__firstName">{{#if withMockData}}Maria{{/if}}</div>
        </div>
        <div class="cell tiny-6">
            <div class="label">{{ labelDateOfBirth }}</div>
            <div class="atm-paragraph data" data-biometrie_appointment="reservation-details__dateOfBirth">{{#if withMockData}}24.04.1983{{/if}}</div>
        </div>
    </div>

    <p class="atm-lead">{{headingAppointment}}</p>

    <div class="mdl-biometrie_appointment__details__appointmentdata">
        <div class="grid-x grid-margin-x" >
            <div class="cell tiny-12 medium-6">
                <div class="label">{{ labelDate }}</div>
                <div class="atm-paragraph data"
                     data-biometrie_appointment="reservation-details__appointmentDateString">
                    {{#if withMockData}}Montag 05.08.2019{{/if}}
                </div>
            </div>
            <div class="cell tiny-12 medium-6">
                <div class="label">{{ labelTime }}</div>
                <div class="atm-paragraph data">
                    <span data-biometrie_appointment="reservation-details__fromTimeString">{{#if withMockData}}10:45{{/if}}</span>
                    {{ fromUntilConjunction }}
                    <span data-biometrie_appointment="reservation-details__untilTimeString">{{#if withMockData}}11:00{{/if}}</span>
                </div>
            </div>
        </div>

      <div class="mdl-biometrie_appointment__details__buttons">
        {{> "atoms/button/button" rescheduleBtn}}

        <div class="mdl-biometrie_appointment__details__calLinks">
          {{> "atoms/button/button" calendarMenuToggleBtn }}
          {{> "modules/context_menu/context_menu" calendarContextMenu }}
        </div>

      </div>


    </div>

    {{#with addinfo }}
      <div class="mdl-biometrie_appointment__details__addinfo">
          <div class="grid-x grid-margin-x" >
                {{#each blocks }}
                    <div class="block cell tiny-12">
                        <div class="label">{{ this.label}}</div>
                        <p class="atm-paragraph">{{{ this.content }}}</p>
                    </div>
                {{/each}}
          </div>
      </div>
    {{/with}}

    {{#with checkList}}
      <div class="mdl-texthighlight">
        <div class="mdl-richtext">
          <p class="atm-heading">{{ heading }}</p>
          <ul class="mdl-richtext__benefits">
            {{#each items }}
              <li>{{ this }}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/with}}
  </div>
{{/with}}
