{{#with messages}}
  <div class="mdl-biometrie_appointment__details">

    <div class="mdl-biometrie_appointment__details__confirmation" data-biometrie_appointment="reschedule-success">
      <h3 class="atm-heading">Ihr Termin ist verschoben</h3>
      <div class="alert-box success">
        <p class="atm-paragraph">Bitte drucken Sie die neue Terminbestätigung aus und bringen Sie diese mit zu Ihrem Termin</p>
        {{> "atoms/button/button" printConfirmationBtn}}
      </div>
    </div>

    <div class="mdl-biometrie_appointment__details__persondata">
      <table>
        <tr>
          <th>{{ labelLastName }}</th>
          <td data-biometrie_appointment="reservation-details__lastName"></td>
        </tr>
        <tr>
          <th>{{ labelFirstName }}</th>
          <td data-biometrie_appointment="reservation-details__firstName"></td>
        </tr>
        <tr>
          <th>{{ labelDateOfBirth }}</th>
          <td data-biometrie_appointment="reservation-details__dateOfBirth"></td>
        </tr>
      </table>
    </div>

    <div class="mdl-biometrie_appointment__details__appointmentdata">
      <h3 class="atm-heading">{{ headingAppointment }}</h3>
      <table>
        <tr>
          <th>{{ labelDate }}</th>
          <td data-biometrie_appointment="reservation-details__appointmentDateString"></td>
        </tr>
        <tr>
          <th>{{ labelTime }}</th>
          <td>
            <span data-biometrie_appointment="reservation-details__fromTimeString"></span>{{ fromUntilConjunction }}<span
            data-biometrie_appointment="reservation-details__untilTimeString"></span>
          </td>
        </tr>
      </table>
      <div class="mdl-biometrie_appointment__details__rescheduleBtn">
        {{> "atoms/button/button" rescheduleBtn}}
      </div>
      <p class="atm-paragraph">{{ calLinksDescr }}</p>

      <div class="mdl-biometrie_appointment__details__cal-linklist">

        <a class="cal-linklist_item" data-biometrie_appointment="cal-link__ical"
           download="biometrie_appointment.ics">

            <span class="cal-linklist_item__button">
              <svg class="icon">
                <use xlink:href="#download"></use>
              </svg>
              <span>iCal</span>
            </span>
        </a>

        <a class="cal-linklist_item" data-biometrie_appointment="cal-link__google" target="_blank">
            <span class="cal-linklist_item__button">
              <svg class="icon">
                <use xlink:href="#download"></use>
              </svg>
              <span>Google</span>
            </span>
        </a>

        <a class="cal-linklist_item" data-biometrie_appointment="cal-link__outlook" target="_blank"
           download="biometrie_appointment.ics">

            <span class="cal-linklist_item__button">
              <svg class="icon">
                <use xlink:href="#download"></use>
              </svg>
              <span>Outlook</span>
            </span>
        </a>
      </div>
    </div>

    {{#with location}}
      <div class="mdl-biometrie_appointment__details__addinfo-block">
        <h3 class="atm-heading">{{ heading }}</h3>
        {{#each paragraphs }}
          <p class="atm-paragraph">{{{ this }}}</p>
        {{/each}}
      </div>
    {{/with}}

    {{#with additionalInfo}}
      <div class="mdl-biometrie_appointment__details__addInfo">
        <h3 class="atm-heading">{{ heading }}</h3>
        {{#each contenBlocks }}
          <div class="mdl-richtext">{{{ this }}}</div>
        {{/each}}
      </div>
    {{/with}}
  </div>
{{/with}}
