<div class="mdl-topiclist{{#if isOfficeNavigation}} mdl-topiclist--office{{/if}}{{#if isTopiclistHome}} mdl-topiclist--home{{/if}}{{#if isNavigation}} mdl-topiclist--nav{{/if}}{{#if additionalClasses}} {{additionalClasses}}{{/if}}" data-init="topiclist" {{#if options}}data-topiclist-options='{{options}}'{{/if}}>
  {{#if isNavigation}}<div data-topiclist="firstLayer">{{/if}}
    {{#if topiclistHeading}}
      <h{{topiclistHeading.level}}
        class="atm-heading atm-heading--bordered {{#if topiclistHeading.isHidden}}visuallyhidden{{/if}}"
        id="{{{topiclistHeading.anchorNavReference}}}"
      >
        {{topiclistHeading.title}}
      </h{{topiclistHeading.level}}>
    {{/if}}
    {{#if topiclistLead}}<p class="atm-paragraph">{{{topiclistLead}}}</p>{{/if}}

    {{#if topiclistInput}}
      {{> "atoms/form_input/form_input" topiclistInput}}
    {{/if}}

    <!-- Standard Topiclist -->
    {{> "modules/content_nav/content_nav" topiclistcontentNavData}}

    <!-- "Autosuggest" Topiclist" -->
    {{#if isTopiclistHome}}
      {{> "modules/content_nav/content_nav" autosuggestTopicList}}
    {{/if}}

    {{#if  topiclistButtonLabel}}
      <div class="mdl-topiclist__fullwidth-wrapper">
        <button class="atm-button mdl-topiclist__show-all" data-topiclist="showAllTrigger">
          {{{topiclistButtonLabel}}}
          <svg class="icon atm-button__icon">
            <use xlink:href="#layer1"></use>
          </svg>
        </button>
      </div>
    {{/if}}
  {{#if isNavigation}}</div>{{/if}}

  {{#if isNavigation}}
    <div data-topiclist="furtherLayers">
    </div>
  {{/if}}

  <!-- Template scripts -->
  {{#if isTopiclistHome}}
    <!-- Content teaser template -->
    <script data-topiclist="contentTeaserTemplate" type="text/x-handlebars-template">
      {{{ contentTeaserTemplate }}}
    </script>
  {{/if}}
  {{#if isNavigation}}
    <script data-topiclist="subnavigationTemplate" type="text/x-handlebars-template">
      {{{ subnavigationTemplate }}}
    </script>
  {{/if}}
</div>
