<a class="mdl-teaser_card" href="{{link}}">
  <h{{headingLevel}} class="atm-heading">
    {{{title}}}
  </h{{headingLevel}}>

  <p class="mdl-teaser_card__label">
    {{#if publicationType}}{{publicationType}}{{/if}}
    {{#if publicationDate}}<time>{{publicationDate}}</time>{{/if}}
  </p>

  {{#if teaserImage}}
    <div class="mdl-teaser_card__image">
      <figure class="mdl-image-figure">
        <div class="mdl-image-figure__img-wrapper">
          <img class="mdl-image-figure__img" src="{{teaserImage}}" alt="" />
        </div>
      </figure>
    </div>
  {{/if}}

  {{#if text}}
    <p class="atm-paragraph">{{text}}</p>
  {{/if}}
</a>
