<div class="mdl-file_upload" data-init="fileUpload" data-input {{#if rules}}data-rules="{{rules}}"{{/if}}>
  {{#if title}}<h4 class="atm-heading">{{title}}</h4>{{/if}}
  <label for="{{input.id}}">{{subtitle}}</label>
  <input class="visuallyhidden" type="file" name="{{input.name}}" id="{{input.id}}" data-file_upload="input" {{#if isMultiple}}multiple{{/if}}
    {{#if validation}}
      data-validation
    {{/if}}
    {{#if validation.maxSize}}
      data-max-size="{{validation.maxSize}}"
    {{/if}}
    {{#if validation.fileTypes}}
      data-file-types="{{validation.fileTypes}}"
    {{/if}}
    {{#if validation.isRequired}}
      required
    {{/if}}
  />
  <div class="mdl-file_upload__dropzone" aria-hidden="true" data-file_upload="dropzone">
    <p>{{dropzoneHint}}</p>
    <label class="mdl-file_upload__button atm-button atm-button--secondary" for="{{input.id}}">{{buttonLabel}}</label>
  </div>
  <p class="mdl-file_upload__error" data-message="required">Bitte geben Sie eine Datei an</p>
  {{#if isMultiple}}
    <ul class="mdl-file_upload__list" data-file_upload="list">

    </ul>
  {{else}}
    <div class="mdl-file_upload__list" data-file_upload="list">

    </div>
  {{/if}}
  <script type="text/x-handlebars-template" data-file_upload="item-template">
    <div class="mdl-file_upload__file" data-file-id="<%- fileID %>">
      <span class="mdl-file_upload__file-title"><%- fileTitle %></span>
      <span class="mdl-file_upload__file-info"><%- fileType %> | <%- fileSize %></span>
      <p class="mdl-file_upload__error" data-message="size">Die Datei ist grösser als die maximale Dateigrösse.</p>
      <p class="mdl-file_upload__error" data-message="type">Die Datei hat ein nicht erlaubtes Dateiformat.</p>
    </div>
  </script>
</div>
