<div class="mdl-carousel" data-init="carousel" {{#if isInGallery}}data-image-gallery="carousel" {{/if}}>
  {{#if heading}}
    <div class="mdl-carousel__title">
      <h{{heading.level}} class="atm-heading
        {{#if_compare heading.visualLevel "!==" heading.level}}h{{heading.visualLevel}}{{/if_compare}}
        {{#if_compare heading.visualLevel "===" 2 }}atm-heading--bordered{{/if_compare}}"
      >
        {{heading.title}}
      </h{{heading.level}}>
    </div>
  {{/if}}
  <div class="mdl-carousel__meta">
    <button class="mdl-carousel__close" data-carousel="close">
      <span class="visuallyhidden">Schliessen</span>
      <svg class="icon" focusable="false">
        <use xlink:href="#exit"></use>
      </svg>
    </button>
  </div>
  <div class="mdl-carousel__slides" data-carousel="slide-wrapper">
    {{#each slides}}
      <div class="mdl-carousel__slide" data-carousel="slide">
        {{> "modules/image_figure/image_figure" this}}
      </div>
    {{/each}}
  </div>
  <div class="mdl-carousel__control-wrapper">
    <div class="mdl-carousel__control">
      <span class="mdl-carousel__indicator" aria-live="polite">
        <span data-carousel="indicator">1</span> von {{ slides.length }}
        <span class="visuallyhidden" data-carousel="textalternative"></span>
      </span>

      {{> "modules/button_group/button_group" controlButtons}}
    </div>
  </div>
</div>
