<div class="mdl-cookie_controls {{#if smallerHeadings}}mod-smaller-headings{{/if}}" data-init="cookieControls" data-expirydays="{{expiryDays}}">
	<h{{headingLevel}} class="atm-heading mdl-cookie_controls__heading">{{heading}}</h{{headingLevel}}>
	<h{{increment headingLevel}} class="atm-heading mdl-cookie_controls__subheading">{{subHeading}}</h{{increment headingLevel}}>
  {{#each items}}
  <div class="atm-checkbox">
    <input type="checkbox" id="{{cookieName}}" {{#if defaultValue}}checked{{/if}}/>
    <label for="{{cookieName}}">
      {{label}}
      <span>
			<svg class="icon icon--iframe-arrow">
				<use xlink:href="#check"></use>
			</svg>
		</span>
    </label>
  </div>
  {{#if description}}
    <p class="atm-paragraph">{{description}}</p>
  {{/if}}
{{/each}}
</div>
