{{#extend "preview/layouts/layout"}}
	{{#content "content"}}
			{{#each colors}}
				{{#unless hideFromStyleguide}}
          <div class="sg_palette sg_palette--rect">
            <div class="sg_palette-color">
              <div class="sg_palette-color__rect" style="background-color: {{color}}">
                <div>
                  <div style-valid="{{whiteSmall}}">Aa</div>
                  <div style-valid="{{blackSmall}}">Aa</div>
                </div>
                <div>
                  <div style-valid="{{whiteLarge}}">Aa</div>
                  <div style-valid="{{blackLarge}}">Aa</div>
                </div>
              </div>
            </div>
            <div class="sg_palette-color__content">
              <h1>{{name}}</h1>
              <span>{{color}}</span>
            </div>
          </div>
				{{/unless}}
			{{/each}}
	{{/content}}
{{/extend}}
