<h1{{#if variant}} class="a-heading a-heading--{{variant}}"{{/if}}>{{title}} 1 <small>{{small}}</small> <a href="#">{{link}}</a></h1>
<h2{{#if variant}} class="a-heading a-heading--{{variant}}"{{/if}}>{{title}} 1 <small>{{small}}</small> <a href="#">{{link}}</a></h2>
<h3{{#if variant}} class="a-heading a-heading--{{variant}}"{{/if}}>{{title}} 1 <small>{{small}}</small> <a href="#">{{link}}</a></h3>
<h4{{#if variant}} class="a-heading a-heading--{{variant}}"{{/if}}>{{title}} 1 <small>{{small}}</small> <a href="#">{{link}}</a></h4>
<h5{{#if variant}} class="a-heading a-heading--{{variant}}"{{/if}}>{{title}} 1 <small>{{small}}</small> <a href="#">{{link}}</a></h5>
<h6{{#if variant}} class="a-heading a-heading--{{variant}}"{{/if}}>{{title}} 1 <small>{{small}}</small> <a href="#">{{link}}</a></h6>
