<div class="mdl-teaser__wrapper" {{#if hasImage}}data-anchornav="fullwidth" {{/if}}>
  <div class="lyt-wrapper">
    <a href="{{teaserLink}}" class="mdl-teaser
        {{#if defaultLeft}}mdl-teaser--left{{/if}}
        {{#if inverted}}mdl-teaser--inverted{{/if}}
        {{#unless hasImage}}mdl-teaser--noImage{{/unless}}
        {{#if isEasyLanguage}}mdl-teaser--with-margins{{/if}}">
      <div class="mdl-teaser__content">
        <h{{headingLevel}} {{#if anchorNavReference}}id="{{{anchorNavReference}}}" {{/if}} data-anchornav="target"
          class="mdl-teaser__title atm-heading {{#if isEasyLanguage}}mdl-teaser__title--smaller{{/if}}">
          {{teaserTitle}}
        </h{{headingLevel}}>

        {{#if teaserDisplayDate}}
          {{#if teaserLabel}}
            <p class="mdl-teaser__label">
              {{teaserLabel}}
              <time datetime="{{teaserMachineReadableDate}}">{{teaserDisplayDate}}</time>
            </p>
          {{else}}
            <time class="mdl-teaser__date" datetime="{{teaserMachineReadableDate}}">{{teaserDisplayDate}}</time>
          {{/if}}
        {{/if}}

        {{#if teaserDescription}}
          <p data-teaser="teaserDescription" class="mdl-teaser__description">
            {{teaserDescription}}
          </p>
        {{/if}}
        <div>
          <span class="atm-button{{#if inverted}} atm-button--cv-inverted{{/if}}">
            {{#if isEasyLanguage}}
              <svg class="mdl-teaser__icon-easy-language" focusable="false">
                <use xlink:href="#easy-language"></use>
              </svg>
            {{/if}}
            <span class="atm-button__text ">{{teaserButtonLabel}}</span>
          </span>
        </div>
      </div>
      {{#if hasImage}}
        <div class="mdl-teaser__image">
          {{> "modules/image_figure/image_figure"}}
        </div>
      {{/if}}
    </a>
    {{#if multiple}}
      <a href="{{teaserLink}}" class="mdl-teaser mdl-teaser--inverted" data-init="teaser">
        <div class="mdl-teaser__content">
          <h{{headingLevel}} class="mdl-teaser__title atm-heading">
            {{teaserTitle}}
          </h{{headingLevel}}>
          <time class="mdl-teaser__date" datetime="{{teaserMachineReadableDate}}">{{teaserDisplayDate}}</time>

          <p class="mdl-teaser__description">
            {{teaserDescription}}
          </p>

          <div>
            <span class="atm-button atm-button--cv-inverted">
              <span class="atm-button__text ">{{teaserButtonLabel}}</span>
            </span>
          </div>

        </div>
        <div class="mdl-teaser__image">
          {{> "modules/image_figure/image_figure"}}
        </div>
      </a>
    {{/if}}
  </div>
</div>
