<div class="mdl-teaser__wrapper">
  <div class="lyt-wrapper">
    <a href="{{teaserLink}}" class="mdl-teaser{{#if defaultLeft}} mdl-teaser--left{{/if}}{{#if inverted}} mdl-teaser--inverted{{/if}}{{#unless hasImage}} mdl-teaser--noImage{{/unless}}"
       data-init="teaser">
      <div class="mdl-teaser__content">
        <h{{teaserHeadingLevel}} {{#if anchorNavReference}}id="{{{anchorNavReference}}}"{{/if}} class="mdl-teaser__title atm-heading" data-lineclamp="true">
          {{teaserTitle}}
        </h{{teaserHeadingLevel}}>
        {{#if teaserLabel}}
          <p class="mdl-teaser__label">
            {{teaserLabel}}
            <time datetime="{{teaserMachineReadableDate}}">{{teaserDisplayDate}}</time>
          </p>
        {{else}}
          <time class="mdl-teaser__date" datetime="{{teaserMachineReadableDate}}">{{teaserDisplayDate}}</time>
        {{/if}}

        <p data-teaser="teaserDescription" data-lineclamp="true" class="mdl-teaser__description">
          {{teaserDescription}}
        </p>
        <div>
          <span class="atm-button{{#if inverted}} atm-button--cv-inverted{{/if}}">
            <span class="atm-button__text ">{{teaserButtonLabel}}</span>
          </span>
        </div>
      </div>
      {{#if hasImage}}
        <div class="mdl-teaser__image">
          {{> "modules/image_figure/image_figure"}}
        </div>
      {{/if}}
    </a>
    {{#if multiple}}
      <a href="{{teaserLink}}"
         class="mdl-teaser mdl-teaser--inverted"
         data-init="teaser">
        <div class="mdl-teaser__content">
          <h{{teaserHeadingLevel}} id="{{{anchorNavReference}}}" class="mdl-teaser__title atm-heading" data-lineclamp="true">
            {{teaserTitle}}
          </h{{teaserHeadingLevel}}>
          <time class="mdl-teaser__date" datetime="{{teaserMachineReadableDate}}">{{teaserDisplayDate}}</time>

          <p class="mdl-teaser__description" data-lineclamp="true">
            {{teaserDescription}}
          </p>

          <div>
        <span class="atm-button atm-button--cv-inverted">
          <span class="atm-button__text ">{{teaserButtonLabel}}</span>
        </span>
          </div>

        </div>
        <div class="mdl-teaser__image">
          {{> "modules/image_figure/image_figure"}}
        </div>
      </a>
    {{/if}}
  </div>
</div>
