{{#unless iframeFullSize}}
  <div class="mdl-iframe">
    <div class="lyt-wrapper">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-12 large-12 xlarge-12">
          <h{{{iframeScreenReaderHeading.level}}}
            class="atm-heading visuallyhidden">{{{iframeScreenReaderHeading.title}}}</h{{{iframeScreenReaderHeading.level}}}>
          <div class="mdl-iframe__wrapper" style="height: {{{iframeHeight}}}px">
            <iframe src="{{{iframeSrc}}}"></iframe>
          </div>
          {{> "atoms/text_link/text_link" iframeTextLink}}
        </div>
      </div>
    </div>
  </div>
{{/unless}}
{{#if iframeFullSize}}
  <div class="mdl-iframe mdl-iframe--fullWidth">
    <iframe src="{{{iframeSrc}}}"></iframe>
  </div>
{{/if}}
