{{#unless iframeFullSize}}
  <div class="mdl-iframe {{#if iframeSmall}}mdl-iframe--small{{/if}}{{#if heading}} mdl-iframe--with-title{{/if}}" data-init="iframe">
  {{#unless iframeSmall}}
    <div class="lyt-wrapper">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-12 large-12 xlarge-12">
          {{/unless}}
          {{#if heading.title}}
            <h{{heading.level}} class="atm-heading {{#unless smallerHeadings}}atm-heading--bordered{{/unless}}">
              {{heading.title}}
            </h{{heading.level}}>
          {{/if}}
          {{#unless heading.title}}
          <h{{{iframeScreenReaderHeading.level}}}
            class="atm-heading visuallyhidden">{{{iframeScreenReaderHeading.title}}}</h{{{iframeScreenReaderHeading.level}}}>
          {{/unless}}
          {{#if caption}}<figure class="mdl-iframe__figure">{{/if}}
            <iframe src="{{{iframeSrc}}}" aria-labelledby="{{iframeCaptionId}}" {{#if iframeHeight}} style="height: {{{iframeHeight}}}px"{{/if}}></iframe>
          {{#if caption}}
            <figcaption class="mdl-iframe__caption">
              {{> "atoms/figcaption/figcaption" caption}}
              <span id="{{iframeCaptionId}}" class="hidden" aria-hidden="true">{{{caption.caption}}}</span>
            </figcaption>
          </figure>
          {{/if}}
          <div class="mdl-iframe__sub">
            {{#if iframeTextLink}}{{> "atoms/text_link/text_link" iframeTextLink}}{{/if}}
          </div>
          {{#unless iframeSmall}}
        </div>
      </div>
    </div>
    {{/unless}}
  </div>
{{/unless}}
{{#if iframeFullSize}}
  <div class="mdl-iframe mdl-iframe--fullWidth" data-init="iframe">
    <iframe src="{{{iframeSrc}}}"></iframe>
  </div>
{{/if}}
