<div class="mdl-social-media-links" data-init="socialMediaLinks">
  {{#if socialMediaLinksHeading}}
    <h{{socialMediaLinksHeading.level}} class="atm-heading">{{socialMediaLinksHeading.title}}</h{{socialMediaLinksHeading.level}}>
  {{/if}}

  <ul>
    {{#if facebook}}
      <li class="mdl-social-media-links__item">
        <a href="{{facebook.url}}" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
            <span class="atm-button__text visuallyhidden">
              Auf Facebook teilen
            </span>
          <img src="{{facebook.imgSrc}}" alt="Facebook Icon">
        </a>
      </li>
    {{/if}}
    {{#if twitter}}
      <li class="mdl-social-media-links__item">
        <a href="{{twitter.url}}" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
          <span class="atm-button__text visuallyhidden">
              Auf Twitter teilen
            </span>
          <img src="{{twitter.imgSrc}}" alt="Twitter Icon">
        </a>
      </li>
    {{/if}}
    {{#if linkedIn}}
      <li class="mdl-social-media-links__item">
        <a href="{{linkedIn.url}}" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
          <span class="atm-button__text visuallyhidden">
              Auf LinkIn teilen
            </span>
          <img src="{{linkedIn.imgSrc}}" alt="LinkIn Icon">
        </a>
      </li>
    {{/if}}
    {{#if youtube}}
      <li class="mdl-social-media-links__item">
        <a href="{{youtube.url}}" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
          <span class="atm-button__text visuallyhidden">
              Auf YouTube teilen
            </span>
          <img src="{{youtube.imgSrc}}" alt="Youtube Icon">
        </a>
      </li>
    {{/if}}
  </ul>
</div>


