<div class="mdl-pagination {{#if fullWidth}}mdl-pagination--fullwidth{{/if}}{{#if additionalClasses}} {{additionalClasses}}{{/if}}" data-init="pagination" data-pagecount="{{pageCount}}">
  <h{{headingLevel}} class="visuallyhidden">Seiten Navigation</h{{headingLevel}}>
  {{#if fullWidth}}
    <div class="lyt-wrapper">
  {{/if}}
  <div class="mdl-pagination__input atm-form_input atm-form_input--small">
    <label class="visuallyhidden" for="pagination_input_field">Seite</label>
    <input id="pagination_input_field" class="atm-form_input__input" value="1" type="number" aria-describedby="paginationCountDescr">
  </div>
  <p class="mdl-pagination__page-count" id="paginationCountDescr" aria-live="polite">
    <em class="visuallyhidden"></em> von <span>{{pageCount}}</span>
  </p>
  <a class="mdl-pagination__button-prev atm-button atm-button--icon-only atm-button--secondary" href="">
    <span class="atm-button__text visuallyhidden">
      Vorherige Seite
    </span>
    <svg class="icon atm-button__icon" focusable="false">
      <use xlink:href="#angle_left"></use>
    </svg>
  </a>
  <a class="mdl-pagination__button-next atm-button atm-button--icon-only atm-button--secondary" href="">
    <span class="atm-button__text visuallyhidden">
      Nächste Seite
    </span>
    <svg class="icon atm-button__icon" focusable="false">
      <use xlink:href="#angle_right"></use>
    </svg>
  </a>
  {{#if fullWidth}}
    </div>
  {{/if}}
</div>
