<figure class="mdl-image-figure{{#if isSmall}} mdl-image-figure--imagesmall{{/if}}{{#if isWide}} mdl-image-figure--fullwidth{{/if}}{{#if isHeader}} mdl-image-figure--header{{/if}}">
  <{{#if useInCarousel}}button{{else}}div{{/if}} class="mdl-image-figure__img-wrapper" {{#if useInCarousel}}data-carousel="open"{{/if}}>
    <img
        class="mdl-image-figure__img"
        src="{{srcsets.[0].image}}"
        srcset="{{#each srcsets}}{{image}} {{imageWidth}}w{{#if @last}}{{else}}, {{/if}}{{/each}}"
        sizes="100vw"
        alt="{{alt}}"
        {{#if hasDownload}}data-image-has-download{{/if}}
        data-image-figure="image"
      />
      {{#if useInCarousel}}<span class="visuallyhidden" data-carousel="ariaFullscreen">Bild im Vollbildmodus anzeigen</span>{{/if}}
  </{{#if useInCarousel}}button{{else}}div{{/if}}>
  {{#unless noTitle}}<figcaption class="mdl-image-figure__caption">
    {{> "atoms/figcaption/figcaption" caption}}
    {{#if hasDownload}}<a href="{{srcsets.[0].image}}" download class="mdl-image-figure__download">
      <svg class="icon mdl-image-figure__download-icon">
        <use xlink:href="#download"></use>
      </svg>
      <span class="visuallyhidden">Bild{{#if alt}} «{{alt}}»{{/if}} herunterladen</span>
    </a>{{/if}}
  </figcaption>{{/unless}}
</figure>
