<div{{#if anchorNavReference}} id="{{anchorNavReference}}"{{/if}} class="mdl-contact{{#if fullWidth}} mdl-contact--fullwidth{{/if}}{{#if
                                inLocation}} mdl-contact--location{{/if}}{{#if mapData}} mdl-contact--with-map{{/if}}"
{{#if withModuleLogic}}data-init="contact"{{/if}}>
  {{#if fullWidth}}
  <div class="lyt-wrapper">
  <div class="grid-x grid-margin-x">
  <div class="cell xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 xsmall-10 small-10">
  {{/if}}
  {{#if contactTitle}}
    <h2 class="atm-heading atm-heading--bordered">{{contactTitle}}</h2>
  {{/if}}

  {{#if contactSubtitle}}
    <h3 class="mdl-contact__subtitle">
      {{contactSubtitle}}{{#if contactLead}} &ndash; {{contactLead}}{{/if}}
    </h3>
    {{#unless contactLead}}
      {{#if contactSubtitleMoreInfo}}
        {{#if contactInfoText}}
          <p class="mdl-contact__infotext">
            {{contactInfoText}}
          </p>
        {{/if}}
        <a class="mdl-contact__subtitle-link" href="{{contactSubtitleMoreInfo.href}}">
          {{contactSubtitleMoreInfo.label}}
          {{#if contactSubtitleMoreInfo.icon}}
            <svg class="icon" focusable="false">
              <use xlink:href="#arrow-right"></use>
            </svg>
          {{/if}}
        </a>
      {{/if}}
    {{/unless}}
  {{/if}}
  {{#if contactLead}}
  {{#if contactSubtitleMoreInfo}}
    {{#if contactInfoText}}
      <p class="mdl-contact__infotext">
        {{contactInfoText}}
      </p>
    {{/if}}
    <p class="mdl-contact__lead">
      <a href="{{contactSubtitleMoreInfo.href}}">
        {{contactSubtitleMoreInfo.label}}
        <svg class="icon" focusable="false">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </a>
    </p>
  {{/if}}
  {{/if}}
{{#if fullWidth}}
</div>
</div>
{{/if}}
  <div class="mdl-contact__section grid-x{{#if fullWidth}} grid-margin-x{{/if}}">

    {{#if contactAddress}}
      <div class="mdl-contact__section-cell{{#if fullWidth}} cell xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 xsmall-10 small-5 xlarge-3{{else}}{{/if}}">
        <div class="mdl-contact__cell-icon">
          <h{{#if contactSubtitle}}4{{/if}}{{#unless contactSubtitle}}3{{/unless}} class="visuallyhidden">{{{contactAriaTitle_location}}}</h{{#if contactSubtitle}}4{{/if}}{{#unless contactSubtitle}}3{{/unless}}>
          <svg class="icon mdl-contact__icon-location" aria-hidden="true" focusable="false">
            <use xlink:href="#location"></use>
          </svg>
        </div>
        <div class="mdl-contact__cell-content">
          <address class="mdl-contact__address">
            <div data-contact-copy-source>
              {{contactAddress.name}}{{#if contactAddress.name}}<br>{{/if}}
              {{contactAddress.street}}<br>
              {{contactAddress.zip}} {{contactAddress.city}}<br>
            </div>
            {{#if contactAddress.routeLinkHref}}
              <a target="_blank"
                 href="{{contactAddress.routeLinkHref}}"
                 class="mdl-contact__show-route{{#if
                         inLocation}} atm-text_link{{/if}}">{{contactAddress.routeLinkLabel}}
              </a>
            {{/if}}
            {{#if contactAddress.copytoclipboardButton}}
              <button data-contact-copy-button class="mdl-contact__copy-button">
                {{contactAddress.copytoclipboardButton.label}}
              </button>
            {{/if}}
          </address>

          <div class="mdl-contact__text">
            {{#if contactAddress.additionalInfo}}
              <p>
                {{contactAddress.additionalInfo}}
              </p>
            {{/if}}

            {{#each contactAddress.openingTimes}}
              {{#if this.timeTitle}}
                <h4 class="atm-heading">{{this.timeTitle}}</h4>
              {{/if}}
              <ul>
                {{#each this.times}}
                  <li>{{this.text}}</li>
                {{/each}}
              </ul>
            {{/each}}
          </div>

        </div>
      </div>
    {{/if}}

    {{#if contactPhone}}
      <div class="mdl-contact__section-cell{{#if fullWidth}} cell xsmall-offset-2 {{#if contactAddress }}small-offset-0 medium-offset-0 large-offset-0 xlarge-offset-0{{/if}}{{#unless contactAddress}}small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2{{/unless}} x-small-6 xsmall-10 small-5 xlarge-3{{/if}}">
        <div class="mdl-contact__cell-icon">
          <h{{#if contactSubtitle}}4{{/if}}{{#unless contactSubtitle}}3{{/unless}} class="visuallyhidden">{{{contactAriaTitle_phone}}}</h{{#if contactSubtitle}}4{{/if}}{{#unless contactSubtitle}}3{{/unless}}>
          <svg class="icon mdl-contact__icon-phone" aria-hidden="true" focusable="false">
            <use xlink:href="#phone-call"></use>
          </svg>
        </div>
        <div class="mdl-contact__cell-content">
          {{#each contactPhone}}
            <a class="atm-text_link mdl-contact__phone" href="tel:{{this.phoneNumer}}">{{this.anchorLabel}}</a>

            <div class="mdl-contact__text">
              {{#if this.additionalInfo}}
                <p>
                  {{this.additionalInfo}}
                </p>
              {{/if}}
              {{#if this.additionalInfoSpaced}}
                <p>
                  {{this.additionalInfoSpaced}}
                </p>
              {{/if}}
              {{#if this.openingTimes}}
                {{#each this.openingTimes}}
                  {{#if this.timeTitle}}
                    <h4 class="atm-heading">{{this.timeTitle}}</h4>
                  {{/if}}
                  <ul>
                    {{#each this.times}}
                      <li>{{this.text}}</li>
                    {{/each}}
                  </ul>
                {{/each}}
              {{/if}}
            </div>
          {{/each}}

        </div>
      </div>
    {{/if}}

    {{#if contactMail}}
      <div class="mdl-contact__section-cell{{#if fullWidth}} cell xsmall-offset-2 small-offset-2 medium-offset-2 xlarge-offset-{{#if contactAddress}}0{{else}}{{#if contactPhone}}0{{else}}2{{/if}}{{/if}} xsmall-10 small-8 xlarge-4{{/if}}">
        <div class="mdl-contact__cell-icon">
          <h{{#if contactSubtitle}}4{{/if}}{{#unless contactSubtitle}}3{{/unless}} class="visuallyhidden">{{{contactAriaTitle_email}}}</h{{#if contactSubtitle}}4{{/if}}{{#unless contactSubtitle}}3{{/unless}}>
          <svg class="icon mdl-contact__icon-email" aria-hidden="true" focusable="false">
            <use xlink:href="#email"></use>
          </svg>
        </div>
        <div class="mdl-contact__cell-content">
          <a class="mdl-contact__mail{{#if inLocation}} atm-text_link{{/if}}"
             href="mailto:{{contactMail.address}}">{{contactMail.address}}</a><br>
          <div class="mdl-contact__text">
            <p>
              {{contactMail.additionalInfo}}
            </p>
            {{#if contactMail.additionalService }}
                <h4 class="atm-heading">{{contactMail.additionalService.label}}</h4>
                <a class="mdl-contact__service-link" href="{{contactMail.additionalService.linkHref}}">{{contactMail.additionalService.linkLabel}}</a>
            {{/if}}
          </div>
        </div>
      </div>
    {{/if}}

  </div>
  {{#if mediaContact}}
  <div class="mdl-contact__section grid-x{{#if fullWidth}} grid-margin-x{{/if}}">
    <div class="mdl-contact__section-cell mdl-contact__section-cell--media{{#if mediaContact.seperatorTop}} mdl-contact__section-cell--sperator-top{{/if}}{{#if mediaContact.seperatorBottom}} mdl-contact__section-cell--sperator-bottom{{/if}}{{#if fullWidth}} cell xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 xsmall-10 small-10 large-10{{/if}}">

      <h3 class="mdl-contact__subtitle">Medienkontakt
        <span id="mdl-contact__aria-desc" class="visuallyhidden">Medienkontakt ein oder ausblenden</span>
        <a role="button" href="#" class="mdl-contact__media-trigger" id="mdl-contact__aria-ref" aria-labelledby="mdl-contact__aria-desc mdl-contact__aria-ref">
  <span aria-hidden="false">{{#if mediaContact.openLabel}}{{mediaContact.openLabel}}{{else}}anzeigen{{/if}}</span>
          <span aria-hidden="true">schliessen</span>
          <svg class="icon">
            <use xlink:href="#layer1"></use>
          </svg>
        </a>
      </h3>

      <div class="mdl-contact__cell-content" aria-hidden="true">
        {{#if mediaContact.lead}}
          <address class="mdl-contact__address">
            {{mediaContact.lead}}
          </address>
        {{/if}}

        <div class="mdl-contact__text">
          {{#if mediaContact.email}}
            <a class="" href="mailto:{{mediaContact.email}}">{{mediaContact.email}}</a><br>
          {{/if}}

          {{#if mediaContact.phoneNumer}}
            <a class="" href="tel:{{mediaContact.phoneNumer}}">{{mediaContact.phoneLabel}}</a>
          {{/if}}
        <p>
          {{#if mediaContact.address}}
              {{mediaContact.address}}<br>
          {{/if}}

          {{#if mediaContact.additionals}}
            {{mediaContact.additionals}}
          {{/if}}
        </p>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  {{#if socialMedia}}
    <div class="mdl-contact__section grid-x{{#if fullWidth}} grid-margin-x{{/if}}">
      <div class="mdl-contact__section-cell mdl-contact__section-cell--social-media{{#if fullWidth}} cell xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 xsmall-10 small-10 medium-10 large-10 xlarge-10{{/if}}">
        <h3 class="atm-heading">
          {{socialMedia.title}}
        </h3>
        <ul class="mdl-contact__social-list">
          {{#each socialMedia.links}}
            <li>
              <a class="mdl-contact__social-links" href="{{this.href}}">
                <span class="visuallyhidden">Link to {{this.shareTarget}}</span>
                <svg class="icon" focusable="false">
                  <use xlink:href="#{{this.icon}}"></use>
                </svg>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}

  {{#if fullWidth}}
    {{#if mapData}}
      <div class="mdl-contact__map_container">
        <h3 class="visuallyhidden">Lageplan {{contactSubtitle}}</h3>
        {{> "modules/map_view/map_view" mapData}}
      </div>
    {{/if}}
  </div>
  {{/if}}

</div>
