<div{{#if anchorNavReference}} id="{{anchorNavReference}}"{{/if}} class="mdl-contact{{#if fullWidth}} mdl-contact--fullwidth{{/if}}{{#if
                                inLocation}} mdl-contact--location{{/if}}{{#if mapData}} mdl-contact--with-map{{/if}}"
{{#if mediaContact}}data-init="contact"{{/if}}>
  {{#if fullWidth}}
  <div class="lyt-wrapper">
  <div class="grid-x grid-margin-x">
  <div class="cell xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 xsmall-10 small-10">
  {{/if}}

  {{#if contactTitle}}
    <h2 class="atm-heading atm-heading--bordered">{{contactTitle}}</h2>
  {{/if}}

  {{#if contactSubtitle}}
    <h3 class="mdl-contact__subtitle">
      {{contactSubtitle}}{{#if contactLead}} &ndash; {{contactLead}}{{/if}}
      {{#unless contactLead}}
        {{#if contactSubtitleMoreInfo}}
        <a href="{{contactSubtitleMoreInfo.href}}">
          {{contactSubtitleMoreInfo.label}}
          <svg class="icon" focusable="false">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </a>
        {{/if}}
      {{/unless}}
    </h3>
  {{/if}}
  {{#if contactLead}}
  {{#if contactSubtitleMoreInfo}}
    <p class="mdl-contact__lead">
      <a href="{{contactSubtitleMoreInfo.href}}">
        {{contactSubtitleMoreInfo.label}}
        <svg class="icon" focusable="false">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </a>
    </p>
  {{/if}}
  {{/if}}
{{#if fullWidth}}
</div>
</div>
{{/if}}
  <div class="mdl-contact__section grid-x{{#if fullWidth}} grid-margin-x{{/if}}">

    {{#if contactAddress}}
      <div class="mdl-contact__section-cell{{#if fullWidth}} cell xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 xsmall-10 small-5 xlarge-3{{else}}{{/if}}">
        <div class="mdl-contact__cell-icon">
          <h{{#if contactSubtitle}}4{{/if}}{{#unless contactSubtitle}}3{{/unless}} class="visuallyhidden">{{{contactAriaTitle_location}}}</h{{#if contactSubtitle}}4{{/if}}{{#unless contactSubtitle}}3{{/unless}}>
          <svg class="icon mdl-contact__icon-location" aria-hidden="true" focusable="false">
            <use xlink:href="#location"></use>
          </svg>
        </div>
        <div class="mdl-contact__cell-content">
          <address class="mdl-contact__address">
            {{contactAddress.name}}{{#if contactAddress.name}}<br>{{/if}}
            {{contactAddress.street}}<br>
            {{contactAddress.zip}} {{contactAddress.city}}<br>
            {{#if contactAddress.routeLinkHref}}
              <a target="_blank"
                 href="{{contactAddress.routeLinkHref}}"
                 class="mdl-contact__show-route{{#if
                   inLocation}} atm-text_link{{/if}}">{{contactAddress.routeLinkLabel}}
              </a>
            {{/if}}
          </address>

          <div class="mdl-contact__text">
            {{#if contactAddress.additionalInfo}}
              <p>
                {{contactAddress.additionalInfo}}
              </p>
            {{/if}}

            {{#each contactAddress.openingTimes}}
              {{#if this.timeTitle}}
                <h4 class="atm-heading">{{this.timeTitle}}</h4>
              {{/if}}
              <ul>
                {{#each this.times}}
                  <li>{{this.text}}</li>
                {{/each}}
              </ul>
            {{/each}}
          </div>

        </div>
      </div>
    {{/if}}

    {{#if contactPhone}}
      <div class="mdl-contact__section-cell{{#if fullWidth}} cell xsmall-offset-2 small-offset-0 medium-offset-0 large-offset-0 xlarge-offset-0 x-small-6 xsmall-10 small-5 xlarge-3{{/if}}">
        <div class="mdl-contact__cell-icon">
          <h{{#if contactSubtitle}}4{{/if}}{{#unless contactSubtitle}}3{{/unless}} class="visuallyhidden">{{{contactAriaTitle_phone}}}</h{{#if contactSubtitle}}4{{/if}}{{#unless contactSubtitle}}3{{/unless}}>
          <svg class="icon mdl-contact__icon-phone" aria-hidden="true" focusable="false">
            <use xlink:href="#phone-call"></use>
          </svg>
        </div>
        <div class="mdl-contact__cell-content">
          {{#each contactPhone}}
            <a class="atm-text_link mdl-contact__phone" href="tel:{{this.phoneNumer}}">{{this.anchorLabel}}</a>

            <div class="mdl-contact__text">
              {{#if this.additionalInfo}}
                <p>
                  {{this.additionalInfo}}
                </p>
              {{/if}}
              {{#if this.additionalInfoSpaced}}
                <p>
                  {{this.additionalInfoSpaced}}
                </p>
              {{/if}}
              {{#if this.openingTimes}}
                {{#each this.openingTimes}}
                  {{#if this.timeTitle}}
                    <h4 class="atm-heading">{{this.timeTitle}}</h4>
                  {{/if}}
                  <ul>
                    {{#each this.times}}
                      <li>{{this.text}}</li>
                    {{/each}}
                  </ul>
                {{/each}}
              {{/if}}
            </div>
          {{/each}}

        </div>
      </div>
    {{/if}}

    {{#if contactMail}}
      <div class="mdl-contact__section-cell{{#if fullWidth}} cell xsmall-offset-2 small-offset-2 xlarge-offset-0 xsmall-10 small-8 xlarge-4{{/if}}">
        <div class="mdl-contact__cell-icon">
          <h{{#if contactSubtitle}}4{{/if}}{{#unless contactSubtitle}}3{{/unless}} class="visuallyhidden">{{{contactAriaTitle_email}}}</h{{#if contactSubtitle}}4{{/if}}{{#unless contactSubtitle}}3{{/unless}}>
          <svg class="icon mdl-contact__icon-email" aria-hidden="true" focusable="false">
            <use xlink:href="#email"></use>
          </svg>
        </div>
        <div class="mdl-contact__cell-content">
          <a class="mdl-contact__mail{{#if inLocation}} atm-text_link{{/if}}"
             href="mailto:{{contactMail.address}}">{{contactMail.address}}</a><br>
          <div class="mdl-contact__text">
            <p>
              {{contactMail.additionalInfo}}
            </p>
          </div>
        </div>
      </div>
    {{/if}}

  </div>
  {{#if mediaContact}}
  <div class="mdl-contact__section grid-x{{#if fullWidth}} grid-margin-x{{/if}}">
    <div class="mdl-contact__section-cell mdl-contact__section-cell--media{{#if fullWidth}} cell xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2{{/if}}">

      <h3 class="mdl-contact__subtitle">Medienkontakt
        <span id="mdl-contact__aria-desc" class="visuallyhidden">Medienkontakt ein oder ausblenden</span>
        <a role="button" href="#" class="mdl-contact__media-trigger" id="mdl-contact__aria-ref" aria-labelledby="mdl-contact__aria-desc mdl-contact__aria-ref">
          <span aria-hidden="false">anzeigen</span>
          <span aria-hidden="true">schliessen</span>
          <svg class="icon">
            <use xlink:href="#layer1"></use>
          </svg>
        </a>
      </h3>

      <div class="mdl-contact__cell-content" aria-hidden="true">
        {{#if mediaContact.lead}}
          <address class="mdl-contact__address">
            {{mediaContact.lead}}
          </address>
        {{/if}}

        <div class="mdl-contact__text">
          {{#if mediaContact.email}}
            <a class="" href="mailto:{{mediaContact.email}}">{{mediaContact.email}}</a><br>
          {{/if}}

          {{#if mediaContact.phoneNumer}}
            <a class="" href="tel:{{mediaContact.phoneNumer}}">{{mediaContact.phoneLabel}}</a>
          {{/if}}
        <p>
          {{#if mediaContact.address}}
              {{mediaContact.address}}<br>
          {{/if}}

          {{#if mediaContact.additionals}}
            {{mediaContact.additionals}}
          {{/if}}
        </p>
        </div>
      </div>
    </div>
  </div>
  {{/if}}

  {{#if fullWidth}}
    {{#if mapData}}
      <div class="mdl-contact__map_container">
        <h3 class="visuallyhidden">Lageplan {{contactSubtitle}}</h3>
        {{> "modules/map_view/map_view" mapData}}
      </div>
    {{/if}}
  </div>
  {{/if}}

</div>
