<{{#if isButton}}button{{else}}a{{/if}}
  class="atm-linklist_item {{#if linkListItemIsDownload}}atm-linklist_item--download{{/if}} {{#if isLegalFoundation}}atm-linklist_item--legalfoundation{{/if}} {{#if linkListItemIsLocation}}atm-linklist_item--location{{/if}}"
  {{#if linkListItemHref}}href="{{linkListItemHref}}"{{/if}}{{#if target}} target="_{{target}}"{{/if}}
  {{#if linkListItemIsDownload}}{{#unless isButton}}download{{/unless}}{{/if}}
  {{#if domSelector}}{{{domSelector}}}{{/if}}
  {{#if isButton}}aria-expanded="false"{{/if}}
>
  {{#if linkListItemIsDownload}}{{#unless isLegalFoundation}}
    <svg class="icon atm-linklist_item__download">
      <use xlink:href="#download"></use>
    </svg>
    <span class="visuallyhidden">Download</span>
  {{/unless}}{{/if}}
  <span class="atm-linklist_item__text">
    <span>{{linkListItemTitle}}</span>
    {{#if linkListItemLabel}}<span class="atm-linklist_item__label">{{linkListItemLabel}}</span>{{/if}}
  </span>
  {{#unless linkListItemIsDownload}}
    {{#if linkListItemIsLocation}}
      {{#if linkListItemDistance}}
        <div class="atm-linklist_item__distancearrow">
          <div class="atm-linklist_item__distance">
              {{ linkListItemDistance }}
          </div>
          <svg class="icon atm-linklist_item__arrow">
              <use xlink:href="#arrow-right"></use>
          </svg>
        </div>
      {{/if}}
    {{else}}
      <svg class="icon atm-linklist_item__arrow">
        <use xlink:href="#arrow-right"></use>
      </svg>
    {{/if}}
  {{/unless}}
  {{#if isLegalFoundation}}
    <span class="atm-linklist_item__download-button">
      <svg class="icon">
        <use xlink:href="#download"></use>
      </svg>
      <span>Download</span>
    </span>
  {{/if}}
</{{#if isButton}}button{{else}}a{{/if}}>
