<{{#if isButton}}button{{else}}a{{/if}}
  class="atm-linklist_item
    {{#if linkListItemIsDownload}} atm-linklist_item--download{{/if}}
    {{#if isLegalFoundation}} atm-linklist_item--legalfoundation{{/if}}
    {{#if linkListItemIsLocation}} atm-linklist_item--location{{/if}}
    {{#if linkListItemIsTOC}} atm-linklist_item--numbered{{/if}}
    {{#if linkListItemIsTOCHeading}} atm-linklist_item--numbered-title{{/if}}"
  {{#if linkListItemHref}}href="{{{linkListItemHref}}}"{{/if}}{{#if target}} target="_{{target}}"{{/if}}
  {{#if linkListItemIsLocation}}tabindex="0"{{/if}}
  {{#if linkListItemIsDownload}}{{#unless isButton}}download{{/unless}}{{/if}}
  {{#if subTitlePattern}} data-subtitle-pattern="{{subTitlePattern}}"{{/if}}
  {{#if modalFocus}} data-modal-focus{{/if}}
  {{#if isButton}}aria-expanded="false"{{/if}}
  {{#if additionalAttributes}} {{{additionalAttributes}}}{{/if}}
>
  {{#if linkListItemIsDownload}}{{#unless isLegalFoundation}}
    <svg class="icon atm-linklist_item__download" focusable="false">
      <use xlink:href="#download"></use>
    </svg>
    <span class="visuallyhidden">Download</span>
  {{/unless}}{{/if}}
  {{#if linkListItemIsTOCHeading}}
    {{#if headingLevel}}
      <h{{increment headingLevel}} class="atm-linklist_item__text">
    {{else}}
      <span class="atm-linklist_item__text">
    {{/if}}
  {{else}}
      <span class="atm-linklist_item__text">
  {{/if}}
    {{#if linkListItemChapterNumber}}<span class="atm-linklist_item__chapter-number">{{linkListItemChapterNumber}}</span>{{/if}}
    <span>{{{linkListItemTitle}}}</span>
    {{#if linkListItemLabel}}<span class="atm-linklist_item__label">{{linkListItemLabel}}
      {{#if copyRightImages}}
       | <span role="link" data-open_data="license_link" data-href="#" class="mdl-open_data__cc">
          <% if(resource.license === "NonCommercialAllowed-CommercialAllowed-ReferenceNotRequired") { %>
            <img src="https://mirrors.creativecommons.org/presskit/buttons/80x15/png/cc-zero.png" alt="Publicdomain"/>
          <% } else { %>
            <img src="https://mirrors.creativecommons.org/presskit/buttons/80x15/png/by.png" alt="Creative commons, reference required"/>
          <% } %>
        </span>
       {{/if}}
       </span>
      {{/if}}
  {{#if linkListItemIsTOCHeading}}
    {{#if headingLevel}}
      </h{{increment headingLevel}}>
    {{else}}
      </span>
    {{/if}}
  {{else}}
      </span>
  {{/if}}
  {{#if subtitle}}<span class="atm-linklist_item__text-subtitle">{{subtitle}}</span>{{/if}}
  {{#unless linkListItemIsDownload}}
    {{#if linkListItemIsLocation}}
        <div class="atm-linklist_item__distancearrow">
          <div class="atm-linklist_item__distance">
            {{#if linkListItemDistance}} {{ linkListItemDistance }}{{/if}}
          </div>
          <svg class="icon atm-linklist_item__arrow" focusable="false">
              <use xlink:href="#arrow-right"></use>
          </svg>
        </div>
    {{else}}
      <svg class="icon atm-linklist_item__arrow" focusable="false">
        <use xlink:href="{{#unless chevron}}#arrow-right{{/unless}}{{#if chevron}}#angle_drop_down{{/if}}"></use>
      </svg>
    {{/if}}
  {{/unless}}
  {{#if isLegalFoundation}}
    <span class="atm-linklist_item__download-button">
      <svg class="icon" focusable="false">
        <use xlink:href="#download"></use>
      </svg>
      <span>Download</span>
    </span>
  {{/if}}
</{{#if isButton}}button{{else}}a{{/if}}>
