<div class="mdl-social-media-post">
  {{#if text}}{{> "modules/social_media_post/_text_partial" text }}{{/if}}
  {{#if image}}{{> "modules/social_media_post/_image_partial" image }}{{/if}}
  {{#if cite}}{{> "modules/social_media_post/_cite_partial" cite }}{{/if}}
  <div class="mdl-social-media-post__footer">
    <a href="{{author.link}}" class="mdl-social-media-post__authorinfo">
      <button class="atm-button atm-button--icon-only atm-button--secondary">
            <span class="atm-button__text visuallyhidden">
              Button
            </span>
        <img class="icon" src="{{icon}}" alt="Icon">
      </button>
      <span>{{author.name}}</span><span>{{datetime}}</span>
    </a>
    <div class="mdl-social-media-post__interaction">
      <button>
        <svg class="icon">
          <use xlink:href="#like"></use>
        </svg>
        <span>{{likes}}</span>
      </button>
      <button>
        <svg class="icon">
          <use xlink:href="#comments"></use>
        </svg>
        <span>{{comments}}</span>
      </button>
      <button>
        <svg class="icon">
          <use xlink:href="#repost"></use>
        </svg>
        <span>{{forwards}}</span>
      </button>
    </div>
  </div>
</div>
