<div class="mdl-tax_calc"
     data-tax_calc-apibase="{{apiBase}}"
     data-init="taxCalc">
    <div class="mdl-instructions" data-init="instructions">
        <ol class="mdl-instructions__list mdl-instructions__list--ordered">
           <li class="mdl-instructions__item mdl-tax_calc__before-block">
              <div>
                  <h3 class="mdl-instructions__item-title atm-heading">
                      {{beforeBlock.heading}}
                  </h3>
                  <div class="mdl-instructions__item-content">
                    <div class="mdl-richtext">
                      <ul class="mdl-richtext__benefits">
                          {{#each beforeBlock.benefitItems}}
                            <li>{{this}}</li>
                          {{/each}}
                      </ul>
                    </div>
                  </div>
              </div>
          </li>
            <li class="mdl-instructions__item mdl-tax_calc__form-block">
                <div>
                    <h3 class="mdl-instructions__item-title atm-heading">
                      {{formBlock.heading}}
                    </h3>
                    <div class="mdl-instructions__item-content">
                      <form  data-tax_calc="formBase" novalidate>
                        {{> "modules/accordion/accordion" formBlock.accordionData}}
                      </form>
                      <div class="mdl-tax_calc__next-btn_container" data-tax_calc="btnContainer">
                          <button class="atm-button mdl-tax_calc__next-btn" data-tax_calc="nextBtn">
                            <span class="atm-button__text atm-button__text--next">
                              {{ formBlock.nextBtn.nextText }}
                            </span>
                            <span class="atm-button__text atm-button__text--calculate">
                              {{ formBlock.nextBtn.calculateText }}
                            </span>
                            {{> "atoms/loading_circle/loading_circle" }}
                          </button>
                      </div>
                    </div>
                </div>
            </li>
            <li class="mdl-instructions__item mdl-tax_calc__result-block">
                <div>
                    <h3 class="mdl-instructions__item-title atm-heading">
                      {{resultBlock.heading}}
                    </h3>
                    <div class="mdl-instructions__item-content">

                    </div>
                </div>
            </li>
        </ol>
    </div>

    <script type="text/x-handlebars-template" data-tax_calc-template="formItem">
        {{> "modules/tax_calc/form-templates/_form-section-item" }}
    </script>

    <script type="text/x-handlebars-template" data-tax_calc-template="list">
        {{> "modules/tax_calc/form-templates/_select-list" }}
    </script>

    <script type="text/x-handlebars-template" data-tax_calc-template="number">
      {{> "modules/tax_calc/form-templates/_number-input" }}
    </script>

    <script type="text/x-handlebars-template" data-tax_calc-template="boolean">
      {{> "modules/tax_calc/form-templates/_checkbox-field" }}
    </script>

    <script type="text/x-handlebars-template" data-tax_calc-template="date">
      {{> "modules/tax_calc/form-templates/_date-input" }}
    </script>

    <script type="application/json" data-tax_calc-formconfig>
        {
          "INCOME_ASSETS": [{
            "title": "Genauer",
            "rows": [
              { "fields": [ "isLiabilityLessThanAYear"] },
              { "fields": [ "hasTaxSeparation"] },
              { "fields": [ "hasQualifiedInvestments"] }
            ]
          }, {
            "title": "Für welchen Zeitraum möchten Sie den Steuerbetrag berechnen?",
            "rows": [
              { "fields": ["taxYear"] },
              { "fields": ["liabilityBegin", "liabilityEnd"] }
            ]
          }, {
            "title": "Persönliche Daten",
            "rows": [
              { "fields": ["maritalStatus", "taxScale"] },
              { "fields": ["religionP1", "religionP2"] },
              { "fields": ["municipality"] }
            ]
          }, {
            "title": "Einkommen und Vermögen",
            "rows": [
              { "fields": [ "taxableIncome", "ascertainedTaxableIncome"] },
              { "fields": [ "qualifiedInvestmentsIncome"] },
              { "fields": [ "taxableAssets", "ascertainedTaxableAssets"] },
              { "fields": [ "withholdingTax"] }
            ]
          }],
          "FEDERAL": [{
            "title": "Für welchen Zeitraum möchten Sie den Steuerbetrag berechnen?",
            "rows": [
              { "fields": ["taxYear"] }
            ]
          }, {
            "title": "Ihr Tarif",
            "rows": [
              { "fields": [ "isLiabilityLessThanAYearOrHasTaxSeparation"] },
              { "fields": [ "taxScale", "childrenNo"] }
            ]
          }, {
            "title": "Einkommen",
            "rows": [
              { "fields": [ "taxableIncome", "ascertainedTaxableIncome"] }
            ]
          }],
          "BENEFIT_PAYMENTS": [{
              "title": "Für welchen Zeitraum möchten Sie den Steuerbetrag berechnen?",
              "rows": [
                { "fields": ["taxYear"] }
              ]
            }, {
              "title": "Persönliche Daten",
              "rows": [
                { "fields": [ "taxScale", "municipality"] },
                { "fields": [ "religionP1", "religionP2"] }
              ]
            }, {
            "title": "Einkommen und Vermögen",
            "rows": [
              { "fields": [ "benefitPayments", "ascertainedBenefitPayments"] }
            ]
          }],
          "BENEFIT_PAYMENTS_FEDERAL": [{
              "title": "Ihre Angaben",
              "rows": [
                { "fields": ["taxYear", "taxScale"] },
                { "fields": ["benefitPayments"] }
              ]
            }, {
              "title": "Persönliche Daten",
              "rows": [
                { "fields": [ "taxScale", "municipality"] },
                { "fields": [ "religionP1", "religionP2"] }
              ]
            }, {
            "title": "Einkommen und Vermögen",
            "rows": [
              { "fields": [ "benefitPayments", "ascertainedBenefitPayments"] }
            ]
          }],
          "INHERITANCE": [{
            "title": "Ihre Angaben",
            "rows": [
              { "fields": ["inheritanceAmount"] },
              { "fields": [ "taxFreeAmount", "kinshipDegree"] }
            ]
          }],
          "LEGAL_SIMPLE": [{
            "title": "Ihre Angaben",
            "rows": [
              { "fields": ["municipality", "taxYear"] },
              { "fields": [ "earnings", "capital"] }
            ]
          }],
          "LEGAL_ITERATIVE": [{
            "title": "Ihre Angaben",
            "rows": [
              { "fields": ["municipality", "taxYear"] },
              { "fields": [ "earnings", "capital"] }
            ]
          }]
        }
    </script>

</div>
