<div class="mdl-toc-list
  {{#if isEDirectory}}mdl-toc-list--e-directory{{/if}}" data-anchornav="fullwidth" data-init="tocList">
  <div class="lyt-wrapper">
    <div class="grid-x grid-margin-x">

      {{#if moduleHeader}}
        <div class="mdl-toc-list__content cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 tiny-12 small-10 medium-10 large-10 xlarge-10">
          <div class="mdl-toc-list__header">
            <h2
              {{#if anchorNavReference}}id="{{anchorNavReference}}" data-anchornav="target"{{/if}}
              class="atm-heading {{#if moduleHeader.headingBordered}}atm-heading--bordered{{/if}}"
            >
              {{{moduleHeader.title}}}
            </h2>
            {{#if moduleHeader.wholeTOCHref}}
            <a class="atm-text_link atm-text_link--icon" href="{{{moduleHeader.wholeTOCHref}}}">
              {{{moduleHeader.wholeTOCLabel}}}
              <svg class="icon icon--iframe-arrow" focusable="false">
                <use xlink:href="#arrow-right"></use>
              </svg>
            </a>
            {{/if}}
          </div>
        </div>
      {{/if}}

      <div class="mdl-toc-list__content cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 tiny-12 small-10 medium-9 large-8 xlarge-8">
          {{#if isEDirectory}}
            {{#if tocListChapters}}
              {{#each tocListChapters}}
                {{> "modules/accordion/accordion" this}}
              {{/each}}
            {{else}}
              {{> "modules/placeholder/placeholder" placeholder}}
            {{/if}}
          {{else}}
            {{#each tocListChapters}}
                {{> "modules/linklist/linklist" this}}
            {{/each}}
          {{/if}}
      </div>
    </div>
  </div>
</div>
