<div class="mdl-table{{#if alignRight}} mdl-table--align-right{{/if}}{{#if colorVariation}} mdl-table--cv-{{{colorVariation}}}{{/if}}" data-init="table">
	{{#if hasTitle}}
		<h{{{headingLevel}}} class="mdl-table__title">{{title}}</h{{{headingLevel}}}>
	{{/if}}
	<table class="mdl-table__table">
		<thead>
			<tr class="mdl-table__row">
				{{#each headers}}
					<th scope="col" class="mdl-table__column">{{{this}}}</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>
			{{#each bodyrows}}
				<tr class="mdl-table__row mdl-table__row--{{#if_even @index}}even{{else}}odd{{/if_even}}">
					{{#each this}}
						{{#if @first}}
							<th scope="row" class="mdl-table__cell">{{{this}}}</th>
						{{else}}
							<td class="mdl-table__cell">{{{this}}}</td>
						{{/if}}
					{{/each}}
				</tr>
			{{/each}}
		</tbody>
		{{#if footers}}
			<tfoot>
				<tr class="mdl-table__row">
					{{#each footers}}
						{{#if @first}}
							<th scope="row" class="mdl-table__cell"><strong>{{{this}}}</strong></th>
						{{else}}
							<td class="mdl-table__cell"><strong>{{{this}}}</strong></td>
						{{/if}}
					{{/each}}
				</tr>
			</tfoot>
		{{/if}}
	</table>
</div>
