<div class="mdl-table
  {{#if alignRight}} mdl-table--align-right{{/if}}
  {{#if isInverted}} mdl-table--inverted{{/if}}
  {{#if isWide}} mdl-table--fullwidth{{/if}}
  {{#if isFirstColumnFixed}} mdl-table--first-column-fixed{{/if}}"
  data-init="table"
  data-redraw="true"
>
  {{#if isInverted}}
    <div class="lyt-wrapper" data-image-gallery="gallery">
      <div class="grid-x grid-margin-x">
        <div class=" cell small-offset-2 medium-offset-2 large-offset-2 tiny-12 small-10 medium-8">
  {{/if}}
	{{#if hasTitle}}
		<h{{ tableHeadingLevel }} class="atm-heading mdl-table__title">{{ tableTitle }}</h{{ tableHeadingLevel }}>
	{{/if}}
	<figure class="mdl-table__figure">
			<div class="mdl-table__scroll-area" data-table="scroll-area">
				<div class="mdl-table__wrapper" data-table="scroll-area-wrapper">
          <table class="mdl-table__table" data-table="table" role="grid" aria-readonly="true">
            {{#if hasColumnHeader}}
              <thead>
                <tr role="row" class="mdl-table__row">
                  {{#each headers}}
                    <th
                      scope="col"
                      class="mdl-table__cell mdl-table__column-header {{#if isSortable}}mdl-table__column-header--sortable{{/if}}"
                      role="columnheader"
                      {{#if isSortable}}aria-sort="none"{{/if}}
                    >
                      {{#if isSortable}}
                        <button
                          aria-live="polite"
                          data-table="sortable"
                          data-order="{{isSortable}}"
                          data-column-index="{{@index}}"
                        >
                      {{/if}}
                        <span>{{{ this.title }}}</span>
                        {{#if isSortable}}
                          <svg class="icon mdl-table__sort-arrow">
                            <use xlink:href="#arrow-up"></use>
                          </svg>
                          <span class="visuallyhidden">
                            <span class="mdl-table__sort-label mdl-table__sort-label--none">nicht </span>
                            <span class="mdl-table__sort-label mdl-table__sort-label--asc" aria-hidden="true">aufsteigend </span>
                            <span class="mdl-table__sort-label mdl-table__sort-label--desc" aria-hidden="true">absteigend </span>
                            sortiert
                          </span>
                        {{/if}}
                      {{#if isSortable}}</button>{{/if}}
                    </th>
                  {{/each}}
                </tr>
              </thead>
            {{/if}}
            <tbody class="mdl-table__body">
              {{#each bodyrows}}
                <tr role="row" class="mdl-table__row mdl-table__row">
                  {{#each this.data}}
                    {{#if @first}}
                      <th scope="row" class="mdl-table__cell
                        {{#if  ../../hasRowHeader}}mdl-table__row-header{{/if}}
                        {{#if this.isHighlighted}}mdl-table__cell--highlighted{{/if}}"
                        data-table="cell"
                        {{#if ../../hasRowHeader}}role="rowheader"{{else}}role="gridcell"{{/if}}
                      >
                        {{#if_object this}}
                          {{{ ../this.cellContent }}}
                        {{else}}
                          {{{ ../this }}}
                        {{/if_object}}
                      </th>
                    {{else}}
                        <td class="mdl-table__cell {{#if this.isHighlighted}}mdl-table__cell--highlighted{{/if}}" role="gridcell" data-table="cell">
                          {{#if this.isHighlighted}}<strong>{{/if}}
                            {{#if_object this}}
                              {{{ ../this.cellContent }}}
                            {{else}}
                              {{{ ../this }}}
                            {{/if_object}}
                          {{#if this.isHighlighted}}</strong>{{/if}}
                        </td>
                    {{/if}}
                  {{/each}}
                </tr>
              {{/each}}
            </tbody>
          </table>
				</div>
			</div>
		{{#if hasCaption}}
			<figcaption class="mdl-table__figcaption">
				{{> "atoms/figcaption/figcaption" caption}}
			</figcaption>
		{{/if}}
	</figure>
  {{#if isInverted}}
        </div>
      </div>
    </div>
  {{/if}}
</div>
