<div class="mdl-datepicker" data-init="datepicker" data-datetimeformat="{{datetimeformat}}" data-localization="de" {{#if
  minDate}} data-mindate="{{{minDate}}}"{{/if}}{{#if maxDate}} data-maxdate="{{{maxDate}}}"{{/if}}{{#if noFlatPicker}} data-no-flatpickr{{/if}} {{#if rules}}data-rules="{{rules}}"{{/if}}>
  {{#unless isLinkListItem}}
    {{> "atoms/form_input/form_input" formInputData}}
  {{/unless}}
  {{#if isLinkListItem}}
    <div class="atm-form_input atm-form_input--icon atm-linklist_item atm-linklist_item--nocolor" data-input>
       <span class="atm-linklist_item__text">
         Text
       </span>
      <input class="atm-form_input__input " id="{{formInputData.uuid}}" placeholder="{{formInputData.label}}"
             name="input_name" value="" type="text"
             {{#if formInputData.maskPlaceholder}}data-mask-placeholder="{{formInputData.maskPlaceholder}}"{{/if}}
        {{#if formInputData.inputMask}}data-input-mask="{{formInputData.inputMask}}"{{/if}}>
      {{#if formInputData.maskPlaceholder}}
      <span class="atm-form_input__backdrop">
        <i></i>{{formInputData.maskPlaceholder}}
      </span>
      {{/if}}
      <label for="datepicker-16">{{formInputData.label}} <span class="visuallyhidden">{{formInputData.maskPlaceholder}}</span></label>
      <svg class="icon" focusable="false">
        <use xlink:href="#angle_drop_down"></use>
      </svg>
    </div>
  {{/if}}
</div>
