<div class="atm-checkbox {{#if strongTitle}}atm-checkbox--strong{{/if}}">
  <input
    type="checkbox"
    id="checkbox{{id}}{{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}"
    name="{{groupName}}" {{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}
    {{#if value}}value="{{value}}"{{/if}}
    {{#if validation}}data-validation{{/if}}
    {{#if validation.isRequired}}required{{/if}}
  />
  <label
    for="checkbox{{id}}{{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}"

  >
    {{label}}{{#if isDisabled}}(disabled){{/if}}{{#if isChecked}}(checked){{/if}}
    <span>
      <svg class="icon icon--iframe-arrow" focusable="false">
        <use xlink:href="#check"></use>
      </svg>
    </span>
    {{#if hint}}<div class="atm-checkbox__hint">{{hint}}</div>{{/if}}
  </label>
</div>
