<div class="mdl-newsletter_form{{#if reduced}} mdl-newsletter_form--reduced{{/if}}" data-init="newsletterForm">
  {{#if title}}
  <h{{headingLevel}} class="atm-heading
    {{#if_compare visualHeadingLevel "!==" headingLevel}}h{{visualHeadingLevel}}{{/if_compare}}
    {{#if_compare visualHeadingLevel "===" 2 }}atm-heading--bordered{{/if_compare}}"
  >{{title}}</h{{headingLevel}}>
  {{/if}}
  {{#if description}}
  <p class="atm-paragraph">{{description}}</p>
  {{/if}}
  {{#if wrapped}}
  <div class="mdl-newsletter_form__wrapper">
    <div class="lyt-wrapper">
      <div class="grid-x grid-margin-x">
        <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-8 large-6">
  {{/if}}
  {{#if reduced}}
          <form class="mdl-newsletter_form__form" novalidate action="{{action}}" method="{{method}}">
            {{> "atoms/form_input/form_input" formInputData }} {{> "atoms/button/button" buttonData }}
          </form>
  {{/if}}
  {{#unless reduced}}
  <form class="mdl-newsletter_form__form" novalidate action="{{action}}" method="{{method}}">
    {{> "modules/form/form" newsletterFormData }}
    <div class="mdl-stepper__control">
      {{> "atoms/button/button" buttonData }}
    </div>
  </form>
  {{/unless}}
  {{#if wrapped}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</div>
