<div class="mdl-richtext {{#if smallerHeadings}}mod-smaller-headings{{/if}} {{#if marginBottom}}mod-margin--bottom{{/if}}">
  {{#unless embedded}}
  <h1 class="atm-heading">
    {{h1Text}}
  </h1>
  {{> "atoms/lead/lead"}}
  <h2 class="atm-heading">
    {{h2Text}}
  </h2>
  <p class="atm-paragraph">
    {{{pText}}}
  </p>
  <h3 class="atm-heading">
    {{h3Text}}
  </h3>
  <p class="atm-paragraph">
    {{{pText}}}
  </p>
  <h4 class="atm-heading">
    {{ h4Text }}
  </h4>
  <p class="atm-paragraph">
    {{{pText}}}
  </p>
  <h2 class="atm-heading">
    {{h2Text}}
  </h2>
  <ul>
    <li>{{listItem1}}</li>
    <li>{{listItem2}}</li>
    <li>{{listItem3}}
      <ul>
        <li>{{listItem1}}</li>
        <li>{{listItem2}}</li>
        <li>{{listItem3}}</li>
      </ul>
    </li>
  </ul>
  <p class="atm-paragraph">
    {{{pText}}}
  </p>
  {{> "modules/quote/quote"}}
  <p class="atm-paragraph">
    {{pText2}}
  </p>
  <ul class="mdl-richtext__benefits">
    <li><span class="visuallyhidden">Vorteil:</span> {{benefitItem}}</li>
    <li><span class="visuallyhidden">Vorteil:</span> {{benefitItem}}</li>
    <li><span class="visuallyhidden">Vorteil:</span> {{benefitItem}}</li>
  </ul>
  <p class="atm-paragraph">
    {{pText2}}
  </p>
  <div class="mdl-richtext__emphasis">
    <p class="atm-paragraph">
      <em>{{emphasisText}}</em>
    </p>
  </div>
  <ol>
    <li>{{benefitItem}}</li>
    <li>{{benefitItem}}</li>
    <li>{{benefitItem}}</li>
  </ol>
  <p class="atm-paragraph">
    Bei Fragen wenden Sie sich in elektronischer Form an <a href="mailto:info@zh.ch" class="atm-text_link">info@zh.ch</a>
  </p>
{{/unless}}

  {{#if embedded}}
    {{#each contentItems }}
      {{#if this.h4Text}}
          <h4 class="atm-heading">
            {{this.h4Text}}
          </h4>
      {{/if}}
      {{#if this.pText}}
          <p class="atm-paragraph">
            {{{pText}}}
          </p>
      {{/if}}
      {{#if this.quoteDemo}}
        {{> "modules/quote/quote" ..}}
      {{/if}}
      {{#if this.benefitDemo}}
          <ul class="mdl-richtext__benefits">
              <li><span class="visuallyhidden">Vorteil:</span> {{../benefitItem}}</li>
              <li><span class="visuallyhidden">Vorteil:</span> {{../benefitItem}}</li>
              <li><span class="visuallyhidden">Vorteil:</span> {{../benefitItem}}</li>
          </ul>
      {{/if}}
      {{#if this.plainHtml}}
          {{{ this.plainHtml }}}
      {{/if}}
    {{/each}}
  {{/if}}
</div>

