<div class="mdl-richtext{{#if inverted}} mdl-richtext--inverted{{/if}}">
  <h1 class="atm-heading{{#if inverted}} atm-heading--inverted{{/if}}">
    {{h1Text}}
  </h1>
  <p class="mdl-richtext__lead">
    {{leadText}}
  </p>
  <h2 class="atm-heading{{#if inverted}} atm-heading--inverted{{/if}}">
    {{h2Text}}
  </h2>
  <p>
    {{pText}}
  </p>
  <h3 class="atm-heading{{#if inverted}} atm-heading--inverted{{/if}}">
    {{h3Text}}
  </h3>
  <p>
    {{pText}}
  </p>
  <h4 class="atm-heading{{#if inverted}} atm-heading--inverted{{/if}}"></h4>
  <p>
    {{pText}}
  </p>
  <h2 class="atm-heading{{#if inverted}} atm-heading--inverted{{/if}}">
    {{h2Text}}
  </h2>
  <ul>
    <li>{{listItem1}}</li>
    <li>{{listItem2}}</li>
    <li>{{listItem3}}
      <ul>
        <li>{{listItem1}}</li>
        <li>{{listItem2}}</li>
        <li>{{listItem3}}</li>
      </ul>
    </li>
  </ul>
  <p>
    {{pText}}
  </p>
  <div class="mdl-richtext__quote">
    <p>{{quoteText}}</p>
    <span>{{quoteAuthor}}</span>
  </div>
  <p>
    {{pText2}}
  </p>
  <ul class="mdl-richtext__benefits">
    <li>{{benefitItem}}</li>
    <li>{{benefitItem}}</li>
    <li>{{benefitItem}}</li>
  </ul>
</div>
