<div class="mdl-richtext">
  <h1 class="atm-heading">
    {{h1Text}}
  </h1>
  {{> "atoms/lead/lead"}}
  <h2 class="atm-heading">
    {{h2Text}}
  </h2>
  <p>
    {{{pText}}}
  </p>
  <h3 class="atm-heading">
    {{h3Text}}
  </h3>
  <p>
    {{{pText}}}
  </p>
  <h4 class="atm-heading">
    {{ h4Text }}
  </h4>
  <p>
    {{{pText}}}
  </p>
  <h2 class="atm-heading">
    {{h2Text}}
  </h2>
  <ul>
    <li>{{listItem1}}</li>
    <li>{{listItem2}}</li>
    <li>{{listItem3}}
      <ul>
        <li>{{listItem1}}</li>
        <li>{{listItem2}}</li>
        <li>{{listItem3}}</li>
      </ul>
    </li>
  </ul>
  <p>
    {{{pText}}}
  </p>
  {{> "modules/quote/quote"}}
  <p>
    {{pText2}}
  </p>
  <p class="visuallyhidden">Vorteile:</p>
  <ul class="mdl-richtext__benefits">
    <li>{{benefitItem}}</li>
    <li>{{benefitItem}}</li>
    <li>{{benefitItem}}</li>
  </ul>
  <p>
    {{pText2}}
  </p>
  <div class="mdl-richtext__emphasis">
    <p>
      <em>{{emphasisText}}</em>
    </p>
  </div>
  <ol>
    <li>{{benefitItem}}</li>
    <li>{{benefitItem}}</li>
    <li>{{benefitItem}}</li>
  </ol>
</div>
