<div class="atm-radiobutton {{#if asTag}}atm-radiobutton--tag{{/if}}"{{#if additionalAttribute}} {{{additionalAttribute}}}{{/if}}>
  <input
    id="radio{{id}}{{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}"
    type="radio" value="{{value}}"
    name="{{groupName}}"
    {{#if isDisabled}}disabled{{/if}}
    {{#if isChecked}}checked{{/if}}
    {{#if validation}}data-validation{{/if}}
    {{#if validation.isRequired}}required{{/if}}
  >
  <label  {{#if asTag}}class="atm-button atm-button--secondary atm-button--small atm-button--tag" {{/if}}for="radio{{id}}{{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}">
    {{label}}{{#if isDisabled}}(disabled){{/if}}{{#if isChecked}}(checked){{/if}}
    {{#if descr}}<span class="atm-radiobutton__descr">{{ descr }}</span>{{/if}}
  </label>
</div>
