<div class="atm-radiobutton">
  <input id="radio{{id}}{{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}" type="radio" value="{{value}}" name="{{groupName}}" {{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}>
  <label for="radio{{id}}{{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}">
    {{label}}{{#if isDisabled}}(disabled){{/if}}{{#if isChecked}}(checked){{/if}}
  </label>
</div>
