<div class="mdl-accordion" data-init="accordion">
  <h{{headingLevel}} class="atm-heading atm-heading--bordered">
    {{title}}
  </h{{headingLevel}}>
  <p class="visuallyhidden">
   Verwenden Sie die Akkordeon-Bedienelemente, um die Sichtbarkeit der jeweiligen Panels (unterhalb der Bedienelemente) umzuschalten.
  </p>
  <div>
    {{#each items}}
      <div class="mdl-accordion__item" data-accordion="item">
        <button class="mdl-accordion__button" aria-expanded="false" data-accordion="trigger">
          <h{{increment ../headingLevel}} class="mdl-accordion__control" >
            {{title}}
          </h{{increment ../headingLevel}}>
          <svg class="icon mdl-accordion__plus">
            <use class="vertical" xlink:href="#plus-vertical" data-accordion="verticalIcon"></use>
            <use xlink:href="#plus-horizontal"></use>
          </svg>
        </button>
        <div class="mdl-accordion__panel" data-accordion="panel">
          <div class="mdl-accordion__panel-content" data-accordion="panel-content">
            {{#each children}}
              {{#if text}}
                <p>{{text}}</p>
              {{else}}
                {{{ partial }}}
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
