<div class="mdl-accordion" data-init="accordion">
  <h{{headingLevel}} class="atm-heading atm-heading--bordered">
    {{title}}
  </h{{headingLevel}}>
  <p class="visuallyhidden">
   Verwenden Sie die Akkordeon-Bedienelemente, um die Sichtbarkeit der jeweiligen Panels (unterhalb der Bedienelemente) umzuschalten.
  </p>
  <div>
    {{#each items}}
      <div class="mdl-accordion__item" data-accordion="item">
        <h{{increment ../headingLevel}} class="mdl-accordion__control">
          <input
            class="visuallyhidden mdl-accordion__input"
            type="checkbox"
            id="accordion__{{techName}}"
            data-accordion="trigger"
            data-index={{@index}}
          />
          <label class="mdl-accordion__label" for="accordion__{{techName}}">
            <span class="mdl-accordion__item-title">
              {{title}}<span class="visuallyhidden"> anzeigen</span>
            </span>
            <svg class="icon mdl-accordion__plus">
              <use class="vertical" xlink:href="#plus-vertical"></use>
              <use xlink:href="#plus-horizontal"></use>
            </svg>
          </label>
        </h{{increment ../headingLevel}}>
        <div class="mdl-accordion__panel" data-accordion="panel">
          <div class="mdl-accordion__panel-content" data-accordion="panel-content">
            {{#each children}}
              {{#if text}}
                <p>{{text}}</p>
              {{else}}
                {{{ partial }}}
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
