<div class="mdl-cug_login{{#if unauthorized}} mdl-cug_login--unauthorized{{/if}}{{#if credentialsFailed}} mdl-cug_login--credentials-failed{{/if}}{{#if apiFailed}} mdl-cug_login--connection-fail{{/if}}{{#if embedded}} mdl-cug_login--embedded{{/if}}"
     data-init="cugLogin"{{#if devMode}} data-cug_login-devmode="true"{{/if}}>
    <input type="hidden" data-cug_login="authorizeEndpoint" value="{{ endpointAuthorize }}" />
    <input type="hidden" data-cug_login="successRedirectUrl" value="{{ successRedirectUrl }}" />

    {{#if heading }}
      {{#unless embedded}}
        <h2 class="atm-heading">
          {{ heading }}
        </h2>
      {{/unless}}
      {{#if embedded}}
          <h3 class="atm-heading">
            {{ heading }}
          </h3>
      {{/if}}
    {{/if}}
    {{#if introText}}<p class="atm-paragraph">{{ introText }}</p>{{/if}}

    <div class="mdl-cug_login__form">
        <form novalidate data-cug_login="loginForm" method="POST" action="{{ endpointDoLogin }}">

          <section class="form__section" aria-live="polite">
              <div class="form__group">

                  <div class="form__row">
                      <div class="form__cell" data-cug_login="cellUsername">
                        {{> "atoms/form_input/form_input" userNameInput}}
                      </div>
                  </div>

                  <div class="form__row">
                      <div class="form__cell" data-cug_login="cellPassword">
                        {{> "atoms/form_input/form_input" passwordInput}}
                      </div>
                    <input type="hidden" aria-hidden="true" name="j_validate" id="j_validate" value="true"/>
                  </div>

                  <div class="form__row mdl-cug_login__failnotification">
                      <div class="form__cell">
                      {{> "modules/notification/notification" loginFailNotificationData }}
                      </div>
                  </div>

                  <div class="form__row">
                      <div class="form__cell">
                          <div class="mdl-cug_login__line"></div>
                      </div>
                  </div>

                  <div class="form__row">
                      <div class="form__cell">
                        {{> "modules/tooltip/tooltip" tooltip}}
                      </div>

                      <div class="form__cell">
                          <button class="atm-button mdl-cug_login__submit" data-cug_login="doLogin" >
                            <span class="atm-button__text ">
                              {{ labelLoginBtn }}
                            </span>
                            <span class="atm-button__spinner"></span>
                          </button>
                      </div>
                  </div>

              </div>

          </section>
        </form>
    </div>

    <div class="mdl-cug_login__alert-unauth">
        {{> "modules/notification/notification" unauthNotificationData }}
    </div>

    <div class="mdl-cug_login__alert-connection-fail">
      {{> "modules/notification/notification" serviceFailNotificationData }}
    </div>
</div>
