<div class="mdl-open_data" data-init="openData" data-api-calls="{{stringify api_calls}}">
  {{#if title}}
    <h{{title.level}}>{{title.text}}</h{{title.level}}>
  {{/if}}
  {{#ifLengthBetween api_calls 1 1}}
    <div data-open_data="wrapper"></div>
  {{else}}
    <ul data-open_data="wrapper"></ul>
  {{/ifLengthBetween}}

  <script data-open_data="template" type="text/x-handlebars-template">
    <% _.forEach(resources, function(resource) { %>
      {{#ifLengthBetween api_calls 2 Infinity}}
        <li>
      {{/ifLengthBetween}}
      {{{template}}}
      {{#ifLengthBetween api_calls 2 Infinity}}
        </li>
      {{/ifLengthBetween}}
    <% }); %>
  </script>
</div>
