<div class="mdl-about">
  <div class="mdl-about__block">
    <h2 {{#if anchorNavReference}}id="{{anchorNavReference}}" {{/if}}class="atm-heading atm-heading--bordered">{{title}}</h2>
  </div>
  <div class="mdl-about__block">
    <h3 class="atm-heading">{{{sTitle1}}}</h3>
    <div class="mdl-richtext">
      <p class="atm-paragraph">
        {{{pText1}}}
      </p>
    </div>
    {{> "atoms/linklist_item/linklist_item" link}}
  </div>
  <div class="mdl-about__block">
    <h3 class="atm-heading">{{{sTitle2}}}</h3>
    {{> "modules/carousel/carousel" carouselData }}
  </div>
  <div class="mdl-about__block">
    <div id="myId" class="mdl-texthighlight">
      <div class="mdl-richtext">
        <h4 class="atm-heading">{{{infoTitle}}}</h4>
        <p class="atm-paragraph">
          {{{infoText}}}
        </p>
      </div>
    </div>
  </div>
  <div class="mdl-about__block">
    {{> "modules/person_card/person_card" personCardData}}
  </div>
  <div class="mdl-about__block">
    <h3 class="mdl-about__smallcaption">{{{smallTitle1}}}</h3>
    {{> "modules/content_nav/content_nav" topicsData}}
  </div>
  <div class="mdl-about__block">
    <h3 class="mdl-about__smallcaption">{{{smallTitle2}}}</h3>
    {{> "modules/download_list/download_list" downloadListData }}
  </div>
</div>
