{{#if preview}}
  <!-- helper markup, can be ignored -->
  <button class="atm-button atm-button--big"
          onclick="document.querySelector('#{{modalId}}').dispatchEvent(new CustomEvent('Modal.open'))">Filter
    einblenden
  </button>
{{/if}}
<div id="{{modalId}}" class="mdl-modal" aria-hidden="true" data-init="modal">
  <div class="mdl-news-filter-mobile" data-init="newsFilterMobile">
    <div class="lyt-wrapper">
      <div class="grid-x grid-margin-x">
        <div class="cell small-offset-1 medium-offset-1 large-offset-2 xlarge-offset-2 small-10 medium-10 large-8">
          <div class="mdl-news-filter-mobile__sublevel">
            <div class="mdl-news-filter-mobile__sublevel-container">
              <h1 class="atm-heading mdl-news-filter-mobile__title">
                <a href="#" class="mdl-news-filter-mobile__sublevel-backbutton">
                  <svg class="icon mdl-news-filter-mobile__sublevel-icon">
                    <use xlink:href="#arrow-left"></use>
                  </svg>
                </a>
                Themen
              </h1>
              <form novalidate>
                {{> "atoms/form_input/form_input" topicFilter.topicFilterInput}}
              </form>
              <div class="mdl-news-filter-mobile__sublevel-list">
                <ul id="{{topicFilter.topicFilterInput.additionalFunctionality.ariaControls}}" class="atm-list">
                  {{#each topicFilter.topics}}
                    <li id="{{id}}" class="atm-list__item atm-list__item--check-icon">
                      <svg class="icon">
                        <use xlink:href="#check"></use>
                      </svg>
                      <input name="group-iconLeftMulti" id="checkbox-{{id}}" type="checkbox" value="{{value}}"
                             placeholder="{{title}}">
                      {{title}}
                    </li>
                  {{/each}}
                </ul>
              </div>
              <div class="mdl-news-filter-mobile__footer">
                <button class="atm-button">Anwenden</button>
              </div>
            </div>
          </div>
          <div class="mdl-news-filter-mobile__sublevel">
            <div class="mdl-news-filter-mobile__sublevel-container">
              <h1 class="atm-heading mdl-news-filter-mobile__title">
                <a href="#" class="mdl-news-filter-mobile__sublevel-backbutton">
                <svg class="icon mdl-news-filter-mobile__sublevel-icon">
                  <use xlink:href="#arrow-left"></use>
                </svg>
                </a>
                Organisation
              </h1>
              <form novalidate>
                {{> "atoms/form_input/form_input" organisationFilter.organisationFilterInput}}
              </form>
              <div class="mdl-news-filter-mobile__sublevel-list">
                <ul id="{{organisationFilter.organisationFilterInput.additionalFunctionality.ariaControls}}"
                    class="atm-list">
                  {{#each organisationFilter.organisations}}
                    <li id="{{id}}" class="atm-list__item atm-list__item--check-icon">
                      <svg class="icon">
                        <use xlink:href="#check"></use>
                      </svg>
                      <input name="group-iconLeftMulti" id="checkbox-{{id}}" type="checkbox" value="{{value}}"
                             placeholder="{{title}}">
                      {{title}}
                    </li>
                  {{/each}}
                </ul>
              </div>
              <div class="mdl-news-filter-mobile__footer">
                <button class="atm-button">Anwenden</button>
              </div>
            </div>
          </div>
          <h1 class="atm-heading mdl-news-filter-mobile__title">Filter</h1>

          {{> "atoms/linklist_item/linklist_item" dateDropDown}}
          {{> "atoms/linklist_item/linklist_item" topicFilter}}
          {{> "atoms/linklist_item/linklist_item" organisationFilter}}
        </div>
      </div>
    </div>
    <div class="mdl-news-filter-mobile__footer">
      <button class="atm-button">Ergebnisse Anzeigen</button>
    </div>
  </div>
</div>
