<div class="mdl-biometrie_appointment__loginview">
{{#with messages}}
    {{#each beforeParagraphs }}
      <p class="atm-paragraph">{{{ this }}}</p>
    {{/each}}
    <h3 class="atm-heading">{{head}}</h3>
    <div class="mdl-biometrie_appointment__loginview__input" data-biometrie_appointment="inputfieldswrapper">
      <div class="icon icon-error">!</div>
      <label>{{inputLabel}}</label>
      <div>
        <span class="input" data-biometrie_appointment="input" contenteditable="true" ></span>&mdash;
        <span class="input" data-biometrie_appointment="input" contenteditable="true" ></span>&mdash;
        <span class="input" data-biometrie_appointment="input" contenteditable="true" ></span>&mdash;
        <span class="input" data-biometrie_appointment="input" contenteditable="true" ></span>
      </div>
    </div>
    <div class="mdl-biometrie_appointment__loginview__hint" data-biometrie_appointment="loginHint">
      <div class="alert alert-error" data-biometrie_appointment="loginAlertErr1">{{ loginErrMsg1 }}</div>
      <div class="alert alert-error" data-biometrie_appointment="loginAlertErr2">{{ loginErrMsg2 }}</div>
      <div class="alert alert-error" data-biometrie_appointment="loginAlertErr3">{{ loginErrMsg3 }}</div>
    </div>
    <div class="mdl-biometrie_appointment__loginview__submit">
      {{> "atoms/button/button" loginSubmitBtn}}
    </div>
  {{/with}}
</div>
