<label class="atm-toggle {{#if labelLeft}}atm-toggle--label-left{{/if}}" for="{{id}}">
  <input type="checkbox" value="true" name="{{name}}" id="{{id}}" {{#if checked}}checked{{/if}} />
  {{#if labelLeft}}{{label}}{{/if}}
  <span class="atm-toggle__switch"></span>
  {{#unless labelLeft}}{{label}}{{/unless}}
</label>
