<!doctype html>
<!--[if IE 7]>         <html lang="en" class="no-js ie7 lte-ie9 lte-ie8 lte-ie7"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js ie8 lte-ie9 lte-ie8">         <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js ie9 lte-ie9">                 <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js">                         <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{#if meta.title}}{{meta.title}} – {{/if}}{{meta.project}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/css/main{{#unless env.dev}}.min{{/unless}}.css">
	<link rel="stylesheet" href="/preview/assets/css/main{{#unless env.dev}}.min{{/unless}}.css">

	<script src="/assets/js/head{{#unless env.dev}}.min{{/unless}}.js"></script>

  <link rel="stylesheet" href="/preview/assets/css/dev{{#unless env.dev}}.min{{/unless}}.css">
  <script src="/preview/assets/js/dev.js"></script>
</head>
<body {{#if props.svgSprites}} data-svgsprites-options='{{props.svgSprites}}'{{/if}}
                               data-fonts='/assets/css/fonts{{#unless env.dev}}.min{{/unless}}.css'
                               data-script-main='/assets/js/main{{#unless env.dev}}.min{{/unless}}.js'>
	<div class="sg_wrapper sg_module {{props.defaultColorVariation}}" id="module_main">
		<h1 class="sg_title">
			<a href="/" class="sg_logo">{{meta.project}}</a>{{#if meta.title}} / {{meta.title}}{{/if}}
		</h1>
    <div class="sg_revisioninfo">
      <ul>
        <li>Revision: <a href="{{meta.gitRemoteLink}}">{{meta.gitShort}}</a></li>
        <li>Date: {{meta.gitDate}}</li>
        <li>Branch: {{meta.gitBranch}}</li>
      </ul>
    </div>

		{{#if variants}}
			<section class="sg_inner_wrapper">
				<h2 class="sg_h2">Vorschau des Atoms</h2>

				<ul class="sg_atoms">

          {{#each variants}}
              <li class="sg_atom">
                <div class="sg_atom-rendition">
                  <div class="sg_atom-label">
                    <h3 class="sg_h3">{{ meta.title }}</h3>
                    <p>{{ meta.desc }}</p>
                  </div>
                  <div class="sg_atom-demo {{#if props.isInverted}}sg_atom-demo--inverted{{/if}}">
                    {{{meta.demo}}}
                  </div>
                </div>
                <div class="sg_atom-html">
                  {{#if meta.code.html}}
                    <h4 class="sg_h4">Rendered HTML</h4>
                    <pre class="sg_code hljs">{{{meta.code.html}}}</pre>
                  {{/if}}
                </div>
              </li>
          {{/each}}
        </ul>
        <div class="cv-labels" aria-hidden="true">
          {{#each colorVariations}}
            <input type="radio" name="colorVariations" class="color_trigger {{name}}" value="{{name}}" id="colorVariations{{@index}}"{{#unless @index}} checked{{/unless}} />
            <label for="colorVariations{{@index}}" id="cv-label{{@index}}">{{name}}</label>
            <!-- <input type="button" class="sg_colorVariation_button" value="{{name}}" style="background-color: {{color}}"/>-->
          {{/each}}
        </div>
			</section>
		{{else}}
			<section class="sg_inner_wrapper">
				<h2 class="sg_h2">Vorschau des Atoms</h2>

				<ul class="sg_atoms">

          {{#each variants}}
              <li class="sg_atom-wrapper">
                <div class="sg_atom-rendition">
                  <div class="sg_atom-label">
                    <h3>{{ meta.title }}</h3>
                    <p>{{ meta.desc }}</p>
                  </div>
                  <div class="sg_atom-demo">
                    {{{meta.demo}}}
                  </div>
                </div>
                <div class="sg_atom-html">
                  {{#if meta.code.html}}
                    <h3 class="sg_h3">Rendered HTML</h3>
                    <pre class="sg_code hljs">{{{meta.code.html}}}</pre>
                  {{/if}}
                </div>
              </li>
          {{/each}}
        </ul>
        <div class="cv-labels" aria-hidden="true">
          {{#each colorVariations}}
            <input type="radio" name="colorVariations" class="color_trigger {{name}}" value="{{name}}" id="colorVariations{{@index}}"{{#unless @index}} checked{{/unless}} />
            <label for="colorVariations{{@index}}" id="cv-label{{@index}}">{{name}}</label>
            <!-- <input type="button" class="sg_colorVariation_button" value="{{name}}" style="background-color: {{color}}"/>-->
          {{/each}}
        </div>
			</section>
		{{/if}}

		{{#if meta.documentation}}
			<section class="sg_inner_wrapper">
				<h2 class="sg_h2">Dokumentation</h2>

				<div class="sg_documentation">
					{{{meta.documentation}}}
				</div>
			</section>
		{{/if}}

		{{#if meta.mocks}}
			<section class="sg_inner_wrapper">
				<h2 class="sg_h2">Data mocking</h2>

				{{#each meta.mocks}}
					{{#if description}}
						<h3 class="sg_h3">{{description}}</h3>
					{{/if}}

					<pre class="sg_code hljs">{{{data}}}</pre>
				{{/each}}
			</section>
		{{/if}}
		{{#block "scripts"}}
		{{/block}}
	</div>
</body>
</html>
