<!doctype html>
<html>
<head>
  <!--------------------------->
  <!-- Page header goes here -->
  <!--------------------------->
  <link href="{{meta.aemPath}}/css/critical.{{meta.gitShort}}.css" rel="stylesheet">
  <script src="{{meta.aemPath}}/js/head.{{meta.gitShort}}{{#unless env.dev}}.min{{/unless}}.js"></script>
</head>
<!-- color variations
  cv-blue
  cv-darkblue
  cv-turqoise
  cv-bordeaux
  cv-magenta
  cv-violet
  cv-green
  cv-monochrome
-->
<body class="cv-blue" {{#if props.svgSprites}} data-svgsprites-options='[&quot;{{meta.aemPath}}/media/svgsprite/base.svg&quot;]'{{/if}}
                               data-fonts='{{meta.aemPath}}/css/fonts.{{meta.gitShort}}{{#unless env.dev}}.min{{/unless}}.css'
                               data-style-main='{{meta.aemPath}}/css/main.{{meta.gitShort}}{{#unless env.dev}}.min{{/unless}}.css'
                               data-script-main='{{meta.aemPath}}/js/main.{{meta.gitShort}}{{#unless env.dev}}.min{{/unless}}.js'>
<div class="lyt-wrapper" id="head">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
      <!---------------------->
      <!-- Header goes here -->
      <!---------------------->
    </div>
  </div>
</div>
<div class="lyt-wrapper" id="main">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
      <!-------------------------------->
      <!-- Content components go here -->
      <!-------------------------------->
    </div>
  </div>
</div>
<div class="lyt-wrapper" id="foot">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
      <!---------------------->
      <!-- Footer goes here -->
      <!---------------------->
    </div>
  </div>
</div>
</body>
</html>
