<!doctype html>
<!--[if IE 7]>         <html lang="de" class="no-js ie7 lte-ie9 lte-ie8 lte-ie7"> <![endif]-->
<!--[if IE 8]>         <html lang="de" class="no-js ie8 lte-ie9 lte-ie8">         <![endif]-->
<!--[if IE 9]>         <html lang="de" class="no-js ie9 lte-ie9">                 <![endif]-->
<!--[if gt IE 9]><!--> <html lang="de" class="no-js">                         <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{#if meta.title}}{{meta.title}} – {{/if}}{{meta.project}}</title>
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="/assets/css/fonts{{#unless env.dev}}.min{{/unless}}.css">
	<link rel="stylesheet" href="/assets/css/main{{#unless env.dev}}.min{{/unless}}.css">
	<link rel="stylesheet" href="/assets/css/print{{#unless env.dev}}.min{{/unless}}.css" media="print">
	<link rel="stylesheet" href="/preview/assets/css/main{{#unless env.dev}}.min{{/unless}}.css">
	<script src="/assets/js/head{{#unless env.dev}}.min{{/unless}}.js"></script>

  <link rel="manifest" href="/assets/manifest.json">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Kanton Zürich">
  <meta name="apple-mobile-web-app-title" content="Kanton Zürich">
  <meta name="theme-color" content="#0076BD">
  <meta name="msapplication-navbutton-color" content="#0076BD">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

  <link rel="icon" type="image/png" href="/assets/media/icons/Favicon_48.png"/>

  <link rel="shortcut icon" sizes="144x144" type="image/png" href="/assets/media/icons/Favicon_144.png"/>
  <link rel="shortcut icon" sizes="96x96" type="image/png" href="/assets/media/icons/Favicon_96.png"/>
  <link rel="shortcut icon" sizes="48x48" type="image/png" href="/assets/media/icons/Favicon_48.png"/>
  <link rel="shortcut icon" sizes="16x16" type="image/png" href="/assets/media/icons/Favicon_16.png"/>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/media/icons/apple-touch-icon-180x180.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/media/icons/apple-touch-icon-76x76@2x.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/media/icons/apple-touch-icon-72x72@2x.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/media/icons/apple-touch-icon-60x60@2x.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/media/icons/apple-touch-icon-57x57@2x.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/media/icons/apple-touch-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/media/icons/apple-touch-icon-60x60.png"/>
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/media/icons/apple-touch-icon-57x57.png"/>

  <link rel="stylesheet" href="/preview/assets/css/dev{{#unless env.dev}}.min{{/unless}}.css">
  <script src="/preview/assets/js/dev.js"></script>
</head>
<body {{#if props.svgSprites}} data-svgsprites-options='{{props.svgSprites}}'{{/if}}>
<div class="lyt-wrapper" id="header">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
      <div class="mdl-page-header      " data-init="pageHeader" data-page-header-instance="pageheader1">
        <div class="lyt-wrapper">
          <div class="grid-x grid-margin-x">
            <div class="mdl-page-header__logo-container cell tiny-2 xsmall-2 small-2 medium-2 large-2 xlarge-2">
                  <span>
                    <span class="visuallyhidden">Logo des Kantons Zürich</span>
                    <svg viewBox="0 0 100 100" class="mdl-page-header__logo print-hidden">
                      <use xlink:href="#ktzh"></use>
                    </svg>
                    <svg viewBox="0 0 100 100" class="mdl-page-header__logo screen-hidden">
                      <use xlink:href="#ktzh"></use>
                    </svg>
                    <span>
                </span></span></div>
            <div class="cell  tiny-10 xsmall-10 small-10 medium-10 large-10 xlarge-10">
              <div class="mdl-page-header__breadcrumb">
                <nav>
                  <ol class="mdl-breadcrumb " data-init="breadcrumb" data-breadcrumb-instance="breadcrumb2">
                    <li class="mdl-breadcrumb__item mdl-breadcrumb__item--main mdl-breadcrumb__item--active mdl-breadcrumb__item--parent" data-index="0" data-breadcrumb="item">
                      <svg class="icon mdl-breadcrumb__arrow-left" focusable="false">
                        <use xlink:href="#arrow-left"></use>
                      </svg>
                      <a class="mdl-breadcrumb__link" href="/">Living Styleguide</a>
                    </li>
                    <li class="mdl-breadcrumb__item mdl-breadcrumb__hidden-items" data-breadcrumb="ellipsis">
                      <svg class="icon" focusable="false">
                        <use xlink:href="#angle_right"></use>
                      </svg>
                    </li>
                    <li class="mdl-breadcrumb__item mdl-breadcrumb__item--active">
                      <svg class="icon" focusable="false">
                        <use xlink:href="#angle_right"></use>
                      </svg>
                      <span class="mdl-breadcrumb__link">Module</span>
                    </li>
                    <li class="mdl-breadcrumb__item mdl-breadcrumb__item--active">
                      <svg class="icon" focusable="false">
                        <use xlink:href="#angle_right"></use>
                      </svg>
                      <span class="mdl-breadcrumb__link">{{meta.title}}</span>
                    </li>
                  </ol>
                </nav>
              </div>
              <h1 class="atm-heading mdl-page-header__title">{{meta.title}}</h1>
            </div>
          </div>
        </div>
      </div>
      <h2 class="atm-heading">Vorschau</h2>
    </div>
  </div>
</div>
	<div class="sg_wrapper sg_module {{props.defaultColorVariation}}" id="module_main" data-body-element>
		{{#if variants}}
			<section class="sg_variants sg_inner_wrapper">
				<div class="sg_tabs">
					{{#each variants}}
						<input type="radio" name="variants" class="tab_trigger" id="variants{{@index}}"{{#unless @index}} checked{{/unless}} aria-controls="panel{{@index}} panelDesc{{@index}}" />
					{{/each}}

					<div class="panels tab_content_wrapper">
						{{#each variants}}
							<div class="tab_content" id="panel{{@index}}" aria-labelledby="tabLabel{{@index}}">
                <div class="lyt-wrapper">
                  <div class="sg_demo {{#if props.isInverted}}sg_demo--inverted{{/if}} grid-x grid-margin-x">
                    {{#if meta.noOffset}}
                      <div class="cell tiny-12">
                        {{{meta.demo}}}
                      </div>
                    {{else}}
                      <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
                        {{#if meta.wrapInForm}}<form novalidate>{{/if}}
                        {{{meta.demo}}}
                        {{#if meta.wrapInForm}}</form>{{/if}}
                      </div>
                    {{/if}}

                  </div>
                </div>
                {{#if meta.disabledColorVariations}}
                  <input type="hidden" id="defaultColorVariation{{@index}}" value="{{meta.defaultColorVariation}}" />
                  <input type="hidden" id="disabledColorVariations{{@index}}" value="{{json meta.disabledColorVariations}}" />
                {{/if}}
							</div>
						{{/each}}
					</div>

					<div class="labels" aria-hidden="true">
						{{#each variants}}
							<label for="variants{{@index}}" id="tabLabel{{@index}}">{{meta.title}}</label>
						{{/each}}
					</div>

          <div class="cv-labels" aria-hidden="true">
            {{#each colorVariations}}
              <input type="radio" name="colorVariations" class="color_trigger {{name}}" value="{{name}}" id="colorVariations{{@index}}"{{#unless @index}} checked{{/unless}} />
              <label for="colorVariations{{@index}}" id="cv-label{{@index}}">{{name}}</label>
            <!-- <input type="button" class="sg_colorVariation_button" value="{{name}}" style="background-color: {{color}}"/>-->
            {{/each}}
          </div>

					<div class="panels">
						{{#each variants}}
							<div class="tab_content" id="panelDesc{{@index}}" aria-labelledby="tabLabel{{@index}}">
								{{!-- "content" is a reserved word in Handlebars, therefore we need the "this" keyword here. --}}
								{{#if meta}}
									<div class="sg_variant_meta">
										{{#if meta.desc}}
											<p>{{meta.desc}}</p>
										{{/if}}
									</div>
								{{/if}}
{{! Indentation matters... }}
{{> "preview/partials/code"}}

							</div>
						{{/each}}
					</div>

				</div>
			</section>
		{{else}}
			<section class="sg_inner_wrapper">
				<h2 class="sg_h2">Vorschau der Komponente</h2>

				{{#each variants}}
					<div class="sg_demo {{#if props.isInverted}}sg_demo--inverted{{/if}}">
						{{#block "content"}}
							{{{meta.demo}}}
						{{/block}}
					</div>

{{! Indentation matters... }}
{{> "preview/partials/code"}}
				{{/each}}
			</section>
		{{/if}}

		{{#if meta.documentation}}
			<section class="sg_inner_wrapper">
				<h2 class="sg_h2">Dokumentation</h2>

				<div class="sg_documentation">
					{{{meta.documentation}}}
				</div>
			</section>
		{{/if}}

		{{#if meta.mocks}}
			<section class="sg_inner_wrapper">
				<h2 class="sg_h2">Data mocking</h2>

				{{#each meta.mocks}}
					{{#if description}}
						<h3 class="sg_h3">{{description}}</h3>
					{{/if}}

					<pre class="sg_code hljs">{{{data}}}</pre>
				{{/each}}
			</section>
		{{/if}}
		{{#block "scripts"}}
      <script src="/assets/js/main{{#unless env.dev}}.min{{/unless}}.js" async></script>
		{{/block}}
	</div>
</body>
</html>
