<!doctype html>
<!--[if IE 7]>         <html lang="de" class="no-js ie7 lte-ie9 lte-ie8 lte-ie7"> <![endif]-->
<!--[if IE 8]>         <html lang="de" class="no-js ie8 lte-ie9 lte-ie8">         <![endif]-->
<!--[if IE 9]>         <html lang="de" class="no-js ie9 lte-ie9">                 <![endif]-->
<!--[if gt IE 9]><!--> <html lang="de" class="no-js">                         <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{#if meta.title}}{{meta.title}} – {{/if}}{{meta.project}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">

	<link rel="stylesheet" href="/assets/css/main{{#unless env.dev}}.min{{/unless}}.css">
	<link rel="stylesheet" href="/preview/assets/css/main{{#unless env.dev}}.min{{/unless}}.css">
	<script src="/assets/js/head{{#unless env.dev}}.min{{/unless}}.js"></script>

  <link rel="stylesheet" href="/preview/assets/css/dev{{#unless env.dev}}.min{{/unless}}.css">
  <script src="/preview/assets/js/dev.js"></script>
</head>
<body {{#if props.svgSprites}} data-svgsprites-options='{{props.svgSprites}}'{{/if}}
  data-fonts='/assets/css/fonts{{#unless env.dev}}.min{{/unless}}.css'>
	<div class="sg_wrapper sg_module {{props.defaultColorVariation}}" id="module_main">
		<h1 class="sg_title">
			<a href="/" class="sg_logo">{{meta.project}}</a>{{#if meta.title}} / {{meta.title}}{{/if}}
		</h1>
    <div class="sg_revisioninfo">
      <h4>Quellcodeverwaltung</h4>
      <ul>
        <li>Revisions Nummer: <a href="{{meta.gitRemoteLink}}">{{meta.gitShort}}</a></li>
        <li>Datum: {{meta.gitDate}}</li>
        <li>Branch: {{meta.gitBranch}}</li>
        <li>Build Datum: {{meta.buildDate}}</li>
      </ul>
    </div>

		{{#if variants}}
			<section class="sg_variants sg_inner_wrapper">
				<h2 class="sg_h2">Vorschau des Moduls</h2>

				<div class="sg_tabs">
					{{#each variants}}
						<input type="radio" name="variants" class="tab_trigger" id="variants{{@index}}"{{#unless @index}} checked{{/unless}} aria-controls="panel{{@index}} panelDesc{{@index}}" />
					{{/each}}

					<div class="panels tab_content_wrapper">
						{{#each variants}}
							<div class="tab_content" id="panel{{@index}}" aria-labelledby="tabLabel{{@index}}">
                <div class="lyt-wrapper">
                  <div class="sg_demo {{#if props.isInverted}}sg_demo--inverted{{/if}} grid-x grid-margin-x">
                    {{#if meta.noOffset}}
                      <div class="cell tiny-12">
                        {{{meta.demo}}}
                      </div>
                    {{else}}
                      <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
                        {{{meta.demo}}}
                      </div>
                    {{/if}}

                  </div>
                </div>
                {{#if meta.disabledColorVariations}}
                  <input type="hidden" id="defaultColorVariation{{@index}}" value="{{meta.defaultColorVariation}}" />
                  <input type="hidden" id="disabledColorVariations{{@index}}" value="{{json meta.disabledColorVariations}}" />
                {{/if}}
							</div>
						{{/each}}
					</div>

					<div class="labels" aria-hidden="true">
						{{#each variants}}
							<label for="variants{{@index}}" id="tabLabel{{@index}}">{{meta.title}}</label>
						{{/each}}
					</div>

          <div class="cv-labels" aria-hidden="true">
            {{#each colorVariations}}
              <input type="radio" name="colorVariations" class="color_trigger {{name}}" value="{{name}}" id="colorVariations{{@index}}"{{#unless @index}} checked{{/unless}} />
              <label for="colorVariations{{@index}}" id="cv-label{{@index}}">{{name}}</label>
            <!-- <input type="button" class="sg_colorVariation_button" value="{{name}}" style="background-color: {{color}}"/>-->
            {{/each}}
          </div>

					<div class="panels">
						{{#each variants}}
							<div class="tab_content" id="panelDesc{{@index}}" aria-labelledby="tabLabel{{@index}}">
								{{!-- "content" is a reserved word in Handlebars, therefore we need the "this" keyword here. --}}
								{{#if meta}}
									<div class="sg_variant_meta">
										{{#if meta.desc}}
											<p>{{meta.desc}}</p>
										{{/if}}
									</div>
								{{/if}}
{{! Indentation matters... }}
{{> "preview/partials/code"}}

							</div>
						{{/each}}
					</div>

				</div>
			</section>
		{{else}}
			<section class="sg_inner_wrapper">
				<h2 class="sg_h2">Vorschau der Komponente</h2>

				{{#each variants}}
					<div class="sg_demo {{#if props.isInverted}}sg_demo--inverted{{/if}}">
						{{#block "content"}}
							{{{meta.demo}}}
						{{/block}}
					</div>

{{! Indentation matters... }}
{{> "preview/partials/code"}}
				{{/each}}
			</section>
		{{/if}}

		{{#if meta.documentation}}
			<section class="sg_inner_wrapper">
				<h2 class="sg_h2">Dokumentation</h2>

				<div class="sg_documentation">
					{{{meta.documentation}}}
				</div>
			</section>
		{{/if}}

		{{#if meta.mocks}}
			<section class="sg_inner_wrapper">
				<h2 class="sg_h2">Data mocking</h2>

				{{#each meta.mocks}}
					{{#if description}}
						<h3 class="sg_h3">{{description}}</h3>
					{{/if}}

					<pre class="sg_code hljs">{{{data}}}</pre>
				{{/each}}
			</section>
		{{/if}}
		{{#block "scripts"}}
      <script src="/assets/js/main{{#unless env.dev}}.min{{/unless}}.js" async></script>
		{{/block}}
	</div>
</body>
</html>
