<!doctype html>
<html lang="de" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{#if title}}{{title}} – {{/if}}{{meta.project}}</title>
  <meta name="description" content="{{#if description}}{{description}}{{/if}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{! <link rel="manifest" href="site.webmanifest"> }}
  {{! <link rel="apple-touch-icon" href="icon.png"> }}

  <link href="/assets/css/critical.css" rel="stylesheet">

	<script src="/assets/js/head{{#unless env.dev}}.min{{/unless}}.js"></script>

  {{#if env.dev}}
    <link rel="stylesheet" href="/preview/assets/css/dev.css">
    <script src="/preview/assets/js/dev.js"></script>
  {{/if}}

  {{! <meta name="theme-color" content="#fafafa"> }}
</head>
<body {{#if props.svgSprites}} data-svgsprites-options='{{props.svgSprites}}'{{/if}} {{#if props.fonts}}
  data-fonts='{{props.fonts}}'{{/if}} {{#if props.styles}} data-style-main='{{props.styles}}'{{/if}}>
{{#block "header"}}
{{/block}}

	<div class="lyt-wrapper" id="main">
		{{#block "content"}}
		{{/block}}
	</div>

{{#block "footer"}}
{{/block}}
{{#block "scripts"}}
  <script src="/assets/js/main{{#unless env.dev}}.min{{/unless}}.js"></script>
{{/block}}
</body>
</html>
