<a class="atm-text_link{{#if isInverted}} atm-text_link--cv-inverted{{/if}}{{#if icon}} atm-text_link--icon{{/if}}"
  {{#if additionalAttribute}}{{{additionalAttribute}}}{{/if}} href="{{{textLinkSrc}}}"
  {{#if textLinkTargetBlank}}target="_blank"{{/if}}>
  {{#if hasLeadingIcon}}
    <svg class="icon icon--iframe-add" focusable="false">
      <use xlink:href="#{{{icon}}}"></use>
    </svg>
  {{/if}}
  {{text}}
  {{#if hasTrailingIcon}}
    <svg class="icon icon--iframe-arrow" focusable="false">
      <use xlink:href="#{{{icon}}}"></use>
    </svg>
  {{/if}}
</a>
