<figure{{#if anchorReference}} id="{{anchorReference}}"{{/if}} class="mdl-video {{#if isFullwidth}}mdl-video--fullwidth{{/if}} {{#if isHeader}}mdl-video--header{{/if}}" data-init="video">
  {{#if title}}<h{{headingLevel}} class="atm-heading">{{video_title}}</h{{headingLevel}}>{{/if}}
  <div class="mdl-video__wrapper">
    <div class="mdl-video__preview">
      {{> "modules/image_figure/image_figure" placeholderImage}}
      <button class="atm-button">
        <svg class="icon atm-button__icon" focusable="false">
          <use xlink:href="#play"></use>
        </svg>
        <span class="atm-button__text">Video</span>
      </button>
    </div>
    <div class="mdl-video__cookie-dialog">
      <button type="button">
        <span class="visuallyhidden">
          Cookie Dialog schliessen
        </span>
        <svg class="icon" focusable="false">
          <use xlink:href="#exit"></use>
        </svg>
      </button>
        <div>
          <p>
            <strong>Dieses Video kommt von YouTube</strong>
            Mit dem Abspielen kann YouTube ihr Surf-Verhalten mitverfolgen.
          </p>
          <a href="#">Datenschutzerklärung</a>
          <button class="atm-button">
            <span class="atm-button__text">Video abspielen</span>
            <svg class="icon atm-button__icon" focusable="false">
              <use xlink:href="#youtube"></use>
            </svg>
          </button>
        </div>
      </div>
    <iframe
      class="mdl-video__frame hidden"
      {{#if expiryDays}}data-expirydays="{{expiryDays}}"{{/if}}
      {{#if cookieName}}data-cookieName="{{cookieName}}"{{/if}}
      data-youtubesrc="https://www.youtube.com/embed/{{videoId}}?modestbranding=1&rel=0&showInfo=0"
      height="768"
      width="432"
      allowfullscreen
      aria-labelledby="mdl-video__{{videoId}}__alt-text"
    ></iframe>
    {{#if offlinePage}}
      <script type="text/javascript">
        const element = document.querySelector('.mdl-video');
        const iFrame = element.querySelector('.mdl-video__frame');
        const preview = element.querySelector('.mdl-video__preview');
        const dialog = element.querySelector('.mdl-video__cookie-dialog');
        const dialogCloseBtn = element.querySelector('.mdl-video__cookie-dialog > button');
        const dialogPlayBtn = element.querySelector('.mdl-video__cookie-dialog .atm-button');
        const youTubeSrc = iFrame.dataset.youtubesrc;
        const daysToExpire = parseInt(iFrame.dataset.expirydays, 10);
        const cookieName = iFrame.dataset.cookiename;
        if (cookieName)
        {
          const match = document.cookie.match(new RegExp(`(^| )${cookieName}=([^;]+)`));
          if (match && match[2] === 'true')
          {
            preview.style.display = 'none';
            dialog.style.display = 'none';
            iFrame.setAttribute('src', youTubeSrc);
            iFrame.style.display = 'flex';
          }
        }
        preview.addEventListener('click', () =>
        {
          preview.style.display = 'none';
          dialog.style.display = 'flex';
          dialog.focus();
        })
        dialogCloseBtn.addEventListener('click', () =>
        {
          preview.style.display = 'flex';
          dialog.style.display = 'none';
          preview.focus();
        })
        dialogPlayBtn.addEventListener('click', () =>
        {
          dialog.style.display = 'none';
          if (cookieName)
          {
            document.cookie = `${cookieName}=true; max-age=${getExpireDate()}; path=/`;
          }
          iFrame.setAttribute('src', `${youTubeSrc}&autoplay=1&mute=0`);
          iFrame.style.display = 'flex';
        });
        const getExpireDate = () =>
        {
          const date = new Date();
          const hoursADay = 24;
          const minsPerHour = 60;
          const secsPerMin = 60;
          const milliSecs = 1000;
          date.setTime(date.getTime() + this.daysToExpire * hoursADay * minsPerHour * secsPerMin * milliSecs);
          return date.toUTCString();
        }
      </script>
    {{/if}}
  </div>

  <figcaption class="mdl-video__caption">
    {{> "atoms/figcaption/figcaption" caption}}
    <span id="mdl-video__{{videoId}}__alt-text" class="hidden">{{alt}}</span>
  </figcaption>
</figure>
