<div class="atm-iframe">
  <h{{{iframeScreenReaderHeading.level}}} class="atm-heading visuallyhidden">{{{iframeScreenReaderHeading.title}}}</h{{{iframeScreenReaderHeading.level}}}>
  <iframe src="{{{iframeSrc}}}" height="{{{iframeHeight}}}"></iframe>
  {{> "atoms/text_link/text_link" iframeTextLink}}
</div>
