<div class="atm-iframe">
  <div class="lyt-wrapper">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-12 large-12 xlarge-12">
        <h{{{iframeScreenReaderHeading.level}}} class="atm-heading visuallyhidden">{{{iframeScreenReaderHeading.title}}}</h{{{iframeScreenReaderHeading.level}}}>
        <iframe src="{{{iframeSrc}}}" height="{{{iframeHeight}}}"></iframe>
        {{> "atoms/text_link/text_link" iframeTextLink}}
      </div>
    </div>
  </div>
</div>
